<section class='about-wrapper'>
  <div class='image-wrapper'>
    <div class='about-image'></div>
  </div>
  <div class='content-wrapper'>
    <div class='about-header'>
      <h1>ABOUT KOMBUCHA DOG</h1>
    </div>
    <div class='about-content'>
      <p>After 25 years of being a successful <a id='porfolio' href='http://www.michaelfaye.com/'>commercial photographer</a>,
        Michael Faye was ready for a change. As a lifelong dog lover,
        he wanted a venture that combined his passion for animal welfare
        with the energy and enthusiasm that dogs inspire in people. And so,
        with his rescue companion Charlie by his side, Michael’s journey began.
        Raised in a family rooted in holistic tradition, Michael has always
        believed in the raw food movement. He practiced yoga regularly. Even
        with a healthy and active lifestyle, he felt kombucha's health effects
        from the start. But, just as his interest in kombucha was deepening,
        it disappeared from store shelves for a while. Michael found himself
        craving kombucha more than ever and was ready to take action.
        He started brewing his own. Soon, his friends and family were requesting
        it by the case. That’s when Michael had an epiphany: He would brew one
        of the only traditionally fermented kombuchas on the market and use
        their shelf space to help homeless dogs find families by photographing
        them for labels. About a year later, Michael figured out how to make
        consistently delicious, full-potency kombucha. He tried over 200 teas,
        fermented over 60, built a brewery from the ground up, and overcame
        thousands of other obstacles along the way. Kombucha Dog invites you
        to join their mission in helping more canines find homes while enjoying
        the best tasting kombucha around.</p>
      </div>
  </div>
</section>
