<section class='cart-wrapper' id='cart-page'>
  <div class='shopping-header'>
    <h1>SHOPPING CART</h1>
  </div>
  <div class='cart-headers'>
    <p>Item<span class='header-quantity'>Quantity</span><span class='header-price'>Price</span></p>
  </div>
  <hr class='top-line'>
  <div class='cart-row' ng-repeat='item in cart track by $index'>
    <div class='cart-img-wrapper'>
      <img ng-src={{item.productImage}} alt="product image">
    </div>
    <div class='cart-item-text'>
      <p>{{item.productTitle}}</p>
      <p>{{item.productSize}}</p>
    </div>
    <div>
    <form class='cart-quantity'>
      <input ng-model='item.productQuantity' ng-change='updateQuantity(item)'>
    </form>
  </div>
    <div class='cart-item-price'>
      <p>${{item.productPrice}}</p>
    </div>
    <div class='cart-remove-btn' ng-click='removeFromCart(item)'>x</div>
    <hr class='repeat-line'>
  </div>
  <div class='subtotal'>
    <p>Subtotal <span class='subtotal-span' >{{subtotal | currency}}</span></p>
  </div>
  <hr align='right' width='50%'>
  <div class='checkout-btn-wrapper'>
    <a class="checkout-button" id='custombutton'>CHECKOUT</a>
  </div>

  {{totalQuantity}}
  <!-- <checkout></checkout> -->
</section>

<section class='cart-wrapper' id='empty-cart'>
  <div class='shopping-header'>
    <h1>SHOPPING CART</h1>
    <p class='empty-cart-text'>You have nothing in your shopping cart. See our <a style="text-decoration:underline;" ui-sref='merchandise'>merchandise</a>!</p>
  </div>
</section>
