  <div class='footer-container'>
    <div class='social-icons'>
      <a class='social-icon' href='https://www.instagram.com/kombuchadog/'><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a class='social-icon' href='https://twitter.com/KOMBUCHADOG'><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a class='social-icon' href='https://www.pinterest.com/kombuchadog/'><i class="fa fa-pinterest" aria-hidden="true"></i></a>
      <a class='social-icon' href='https://www.facebook.com/KombuchaDog/'><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </div>
    <div class='footer-items'>
      <a class='footer-item' ui-sref='find-kombucha'>FIND KOMBUCHA DOG</a>
      <a class='footer-item'>CONTACT</a>
      <a class='footer-item'>FAQ</a></li>
      <a class='footer-item'>PRESS</a>
      <a class='footer-item'>BLOG</a></li>
    </div>
  </div>
