<section class='home-wrapper'>
  <div class='home-header-img-wrapper'>
    <div class='home-header-image'>
    </div>
  </div>
  <div class='best-of-la-wrapper'>
    <div class='best-of-la-image'>
      <a href='http://www.lamag.com/guide/best-of-la-2016/local-kombucha/'>
        <img src='https://static1.squarespace.com/static/578ffe17e6f2e15aa9c2207f/t/587adca6bebafbe8c6aca5a8/1484447131198/?format=1000w'>
      </a>
    </div>
    <div class='enjoy-wrapper'>
      <h1>ENJOY OUR RAW, AUTHENTIC KOMBUCHA</h1>
      <P>AND FIND A NEW BEST FRIEND</P>
    </div>
  </div>
  <div class='home-columns-wrapper'>
    <div class='home-left-column'>
      <div class='left-column-image'></div>
      <h2>ABOUT KOMBUCHA DOG</h2>
      <p>While we stand by our goal of delivering a delicious,
        naturally fermented beverage, the dogs on our labels tell you
        about the mission nearer to our hearts. Every bottle of
        Kombucha Dog is labeled with the picture of a rescue dog
        awaiting his or her forever home. By working closely with
        local rescue groups, Kombucha Dog has helped place
        over 100 dogs with their forever families. By picking up a
        bottle, you could fall in love with your new favorite
        beverage - and your new best friend.</p>
        <div class='block-button-container' id='find-btn'>
          <a ui-sref="about" class="block-button" alt="learn about us">LEARN MORE</a>
        </div>
    </div>
    <div class='home-right-column'>
      <div class='right-column-image'></div>
      <h2>OUR KOMBUCHA</h2>
      <p>Kombucha Dog brews authentic kombucha with the
        traditional recipe of fermenting one gallon of tea with one
        cup of sugar. We use only organic, non-GMO ingredients
        to create a refreshing and invigorating experience for
        your tastebuds. Hand brewed, bottled, and capped in
        Downtown Los Angeles, our artisan kombucha is an
        instant favorite. To learn more about our unique brewing
        process and ingredients, <a id='link' ui-sref='our-kombucha'>click here.</a></p>
        <div class='block-button-container' id='find-btn'>
          <a ui-sref="find-kombucha" class="block-button" alt="to find page">FIND KOMBUCHA DOG</a>
        </div>
    </div>
  </div>
  <div class='mission-image-wrapper'>
    <div class='mission-image'>
      <div class='mission-content'>
      <h3>OUR MISSION</h3>
      <p>TO CRAFT THE BEST KOMBUCHA THERE IS WHILE HELPING RESCUE
        DOGS FIND THEIR FOREVER HOMES</p>
      </div>
    </div>
  </div>
  <div class='home-meet-dogs-wrapper'>
    <h4>OUR DOGS</h4>
    <p>All of the dogs featured on our labels are rescue dogs in
      foster and awaiting adoption by a new loving family. Click
      on one of the dogs below to find out how you can be his or
      her forever family.</p>
    <div class='block-button-container'>
      <a ui-sref="our-dogs" class="block-button" alt="meet our dogs">MEET ALL OF OUR DOGS</a>
    </div>
  </div>
  <div class='home-dogs-wrapper'>
    <div class='dogs-row'>
      <div class='dog-img-wrapper1'>
        <img alt="dog image" src="https://static1.squarespace.com/static/578ffe17e6f2e15aa9c2207f/57e063bbbe659459f2660a02/57e063d3d2b857ab4a688889/1474661708461/16-yoko.jpg?format=2500w">
        <div class='home-dog-name'>YOKO</div>
      </div>
      <div class='dog-img-wrapper1'>
        <img alt="dog image" src="https://static1.squarespace.com/static/578ffe17e6f2e15aa9c2207f/57e063bbbe659459f2660a02/57e0645715d5db85e0fb32a3/1474403745221/02-shadow.jpg?format=750w">
        <div class='home-dog-name'>SHADOW</div>
      </div>
      <div class='dog-img-wrapper1'>
        <img alt="dog image" src="https://static1.squarespace.com/static/578ffe17e6f2e15aa9c2207f/57e063bbbe659459f2660a02/57e06457d482e9d9df0db579/1474403800877/05-bentley.jpg?format=750w">
        <div class='home-dog-name'>BENTLEY</div>
      </div>
    </div>

    <div class='dogs-row'>
      <div class='dog-img-wrapper2'>
        <img alt="dog image" src="https://static1.squarespace.com/static/578ffe17e6f2e15aa9c2207f/57e063bbbe659459f2660a02/57e06458d482e9d9df0db57e/1474403914418/07-robo.jpg?format=750w">
        <div class='home-dog-name'>ROBO</div>
      </div>
      <div class='dog-img-wrapper2'>
        <img alt="dog image" src="https://static1.squarespace.com/static/578ffe17e6f2e15aa9c2207f/57e063bbbe659459f2660a02/57e0645815d5db85e0fb32ab/1474403868980/06-khalessi.jpg?format=2500w">
        <div class='home-dog-name'>KHALESSI</div>
      </div>
      <div class='dog-img-wrapper2'>
        <img alt="dog image" src="https://static1.squarespace.com/static/578ffe17e6f2e15aa9c2207f/57e063bbbe659459f2660a02/57e0645915d5db85e0fb32b0/1474403985878/08-sargeant.jpg?format=750w">
        <div class='home-dog-name'>SARGENT</div>
      </div>
    </div>
  </div>

</section>
