
<div class='details-body'>
  <div class='prev-next'>
  </div>
  <div class=details-gallery>
    <div class=details-column>
      <div class='details-title'>
        <h1 class='shirt-title'>{{details[0].title}}</h1>
      </div>

      <div class='details-price'>
        <p class='price'>{{details[0].price}}</p>
      </div>

      <div class='details-desc'>
        <p class='desc'>{{details[0].description}}</p>
      </div>

      <div class='sizes'>
        <p>Available in XS - S - M - L - XL</p>
      </div>

      <div class='details-select-size'>
        <h2 class='size'>SIZE:</h2>
        <div class='select-size'>
        </div>
      </div>

      <div class='details-quantity'>
        <h3 class='quantity'>QUANTITY:</h3>
        <div class='quantity-box'>
        </div>
      </div>

      <div class='add-to-cart'>
      </div>
    </div>
    <div class='shirt-img-column'>
      <img class='shirt-img' src='{{details[0].image}}' alt='product image'>
    </div>
  </div>
</div>
