
<div class='details-body'>
  <div class='prev-next'>
    <p ><span ng-click="changeProduct(-1)" ng-show='previous'>&lsaquo; PREVIOUS</span><span ng-show='slash'> / </span><span ng-click="changeProduct(1)" ng-show='next'>NEXT &rsaquo;</span></p>
  </div>
  <div class=details-gallery>
    <div class=details-column>
      <div class='details-title'>
        <h1 class='shirt-title'>{{details.title}}</h1>
      </div>

        <div class='details-price'>
          <p class='price'>${{details.price}}</p>
        </div>

        <div class='details'>
          <div class='details-desc'>
            <p class='desc'>{{details.description}}</p>
          </div>
          <div class='sizes'>
            <p>Available in XS - S - M - L - XL</p>
          </div>
        </div>

      <div class='selectors'>
        <div class='details-select-size'>
          <p class='size'>SIZE:</p>
          <div class='select-size-wrapper' data-text='SELECT SIZE'>
            <select class='select-size' ng-model='productSize'>
              <option class='opt' value=''>Select Size</option>
              <option class='opt' value='XS'>XS</option>
              <option class='opt' value='S'>S</option>
              <option class='opt' value='M'>M</option>
              <option class='opt' value='L'>L</option>
              <option class='opt' value='XL'>XL</option>
            </select>
          </div>
        </div>

        <div class='details-quantity-input'>
          <p class='quantity'>QUANTITY:</p>
          <input ng-model='productQuantity' size="4" max="9999" min="1" type="number" step="1" class="quantity-input">
        </div>
      </div>


      <div class='add-button-container'>
        <a class="add-button" ng-click='addToCart(productSize, productQuantity)'>ADD TO CART</a>
      </div>
    </div>
    <div class='shirt-img-column'>
      <img class='shirt-img' src='{{details.image}}' alt='product image'>
    </div>
  </div>
</div>
