<section class='our-kombucha-wrapper'>
  <div class='image-wrapper'>
    <div class='our-kombucha-image'></div>
  </div>
  <div class='content-wrapper' id='our-content-wrapper'>
    <div class='our-kombucha-header'>
      <h1>OUR KOMBUCHA</h1>
    </div>
    <div class='our-kombucha-content'>
      <p>Kombucha is thought to have originated two thousand years ago.
        When properly brewed, kombucha is a tasty, low sugar, naturally
        carbonated, fermented beverage that contains a potent assortment of
        antioxidants and probiotics.</p>
      <h2>AUTHENTIC</h2>
      <p>Authentic Kombucha is 21+! The traditional recipe for kombucha calls
        for fermenting one gallon of tea with one cup of sugar. If fermented
        properly and for long enough, the resulting beverage will contain
        about 6 grams of sugar per 8 oz of tea (not sweet), and contain about
        1.4% ABV. This is considered an alcoholic beverage as defined by US
        law.</p>
      <h2>UNDILUTED</h2>
      <p>In order to make kombucha below the legal limit of 0.5% ABV, we
        would have to dilute ours by 60-70%. When you drink Kombucha Dog,
        you can be sure that you are getting 100% of the anti-oxidants and
        probiotics that you deserve.</p>
      <h2>RAW AND ORGANIC</h2>
      <p>The ingredients used in our kombucha are hand selected. We only use
        organic tea, raw turbinado sugar, and cold pressed juices. What you
        get is a gluten-free, vegan, raw, never pasteurized, BPA-free, non-
        GMO, organic experience.</p>
      <p id='end-text'>Interested in purchasing Kombucha Dog or becoming a stockist?</p>
      </div>
      <div class='block-button-container' id='find-btn'>
        <a ui-sref="find-kombucha" class="block-button" alt="to find page">FIND KOMBUCHA DOG</a>
      </div>
  </div>

</section>
