<div class='profile-body'>
  <div class='profile-container'>

    <div class='profile-image-container'>
      <img class='profile-image' src='{{profile[0].image}}' alt='dog image'>
    </div>

    <div class='profile-column'>
      <div class='profile-name'>
        <h1 class='name'>{{profile[0].name}}</h1>
      </div>
      <div class='profile-status'>
        <!-- <h2 class='status'>{{adopted}}</h2> -->
        <h2 class='status' ng-show='adopted'>ADOPTED!</h2>
        <h2 class='status' ng-hide='adopted'>UP FOR ADOPTION</h2>

      </div>
      <div class='profile-story'>
        <p class='story'>{{profile[0].story}}</p>
      </div>


      <div class='profile-btns-container'>
        <div class='profile-btns'>
          <a class="profile-btn" ng-hide='adopted' href="mailto:zacboz@gmail.com?Subject={{profile[0].name}}">INQUIRE</a>
        </div>
        <div class='profile-btns' ng-hide='adopted'>
          <a class="profile-btn" ui-sref='our-dogs'>OUR DOGS</a>
        </div>
        <div class='profile-btns' ng-show='adopted'>
          <a class="profile-btn" ui-sref='success-stories'>MORE SUCCESS STORIES</a>
        </div>
      </div>
    </div>

  </div>
</div>
