.site-nav {
  padding: 45px 40px;
  text-align: center; }

.header {
  padding: 16.5px 24px; }

.header-title-logo {
  max-width: 340px;
  width: 100%; }

.header-tagline {
  color: gray;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: .34em;
  line-height: 0em;
  text-transform: uppercase;
  color: grey; }

.header-cart {
  font-size: 9.5px;
  letter-spacing: .3em;
  font-weight: 600;
  position: relative;
  line-height: 1em;
  float: right;
  text-align: right;
  min-width: 0;
  max-width: 58px;
  width: 100%;
  max-height: 42px;
  height: 100%;
  margin: -50px 0; }

.cart {
  color: #868686;
  font-family: "Lato", sans-serif; }

.header-items {
  white-space: nowrap;
  line-height: 1em;
  margin: -10px 0; }

.header-nav-item {
  color: #868686;
  display: inline-block;
  padding: .618em;
  vertical-align: middle;
  font-family: "Lato", sans-serif;
  font-size: 9.2px;
  letter-spacing: .3em;
  font-weight: 600; }

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer; }

.footer-container {
  text-align: center;
  padding: 100px 64px 175px 64px; }

.social-icons {
  box-sizing: border-box;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 45px 17px;
  position: relative;
  height: auto;
  outline: none;
  box-shadow: inset 0 0 0 1px rgba(128, 128, 128, 0);
  transition: box-shadow .2s ease-in-out; }

.social-icon {
  font-size: 18px;
  padding: 4px 4px; }

.footer-items {
  padding: 23px 0px; }

.footer-item {
  color: #868686;
  display: inline-block;
  vertical-align: middle;
  font-family: "Lato", sans-serif;
  font-size: 9.2px;
  letter-spacing: .3em;
  font-weight: 600;
  line-height: 2em;
  padding-right: .6em; }
