.about-wrapper {
  max-width: 1200px;
  padding: 15px 65px;
  overflow: auto; }

.image-wrapper {
  width: 100%;
  height: 570px; }

.about-image {
  width: 100%;
  height: 100%;
  background-image: url("/images/gabe_cooler.jpg");
  background-size: cover;
  background-position: center; }

.content-wrapper {
  padding: 118px 275px;
  overflow: auto; }

.about-header h1 {
  font-family: "Teko", sans-serif;
  color: black;
  font-weight: 500;
  font-size: 27px;
  letter-spacing: .1em; }

.about-content {
  font-family: "Lato", sans-serif;
  color: #7d7d7d;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: .1em;
  line-height: 2.8em; }
  .about-content a {
    color: rgba(82, 82, 82, 0.6);
    text-decoration: underline; }

.cart-wrapper {
  max-width: 1200px;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  padding: 20px 65px; }

.shopping-header h1 {
  font-family: "Teko", sans-serif;
  font-weight: 500;
  font-size: 27px;
  letter-spacing: .1em;
  line-height: 1em;
  color: black;
  text-transform: uppercase;
  margin-bottom: 40px; }

.cart-headers p {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 10px;
  letter-spacing: .12em;
  color: #7d7d7d; }

.cart-headers .header-quantity {
  margin-left: 732px; }

.cart-headers .header-price {
  margin-left: 125px; }

.top-line {
  margin-top: 17px;
  margin-bottom: 0px;
  font-weight: 400; }

.cart-row {
  width: 100%;
  overflow: auto;
  height: 137px; }

.cart-img-wrapper img {
  width: 10%;
  height: 80%;
  float: left;
  padding-top: 13px;
  padding-bottom: 13px; }

.cart-item-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: .12em;
  color: gray;
  float: left;
  margin-top: 50px;
  margin-left: 20px;
  overflow: auto;
  height: 70px;
  width: 260px; }
  .cart-item-text p {
    margin: 2px 2px; }

.cart-quantity {
  float: left;
  overflow: auto; }
  .cart-quantity input {
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    border-radius: 4px;
    height: 27px;
    width: 28px;
    color: gray;
    margin: 50px 110px 35px 380px;
    font-size: 15px;
    text-align: right;
    padding-right: 7px; }
  .cart-quantity input:focus {
    outline: none; }

.cart-item-price {
  float: left;
  margin: 44px 50px 0px 0px;
  overflow: auto; }
  .cart-item-price p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: .1em;
    color: gray; }

.cart-remove-btn {
  float: left;
  margin: 56px 0px 0px 20px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: .15em;
  color: #cccccc;
  cursor: pointer; }

hr {
  clear: both; }

.subtotal {
  float: right;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: .12em;
  color: gray;
  margin: 12px 0; }

.subtotal-span {
  padding-left: 20px;
  padding-right: 20px; }

.checkout-btn-wrapper {
  float: right;
  margin-top: 12px;
  overflow: auto; }

.checkout-button {
  border: solid;
  border-color: black;
  border-radius: 3px;
  border-width: 2px;
  font-family: "Lato", sans-serif;
  font-size: 11px;
  letter-spacing: .2em;
  text-align: center;
  font-weight: 400;
  height: auto;
  width: auto;
  padding: 12px 32px; }

.checkout-button:hover {
  background-color: black;
  color: white; }

.details-body {
  max-width: 1200px;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto; }

.prev-next {
  padding-left: 62px; }
  .prev-next p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 9px;
    letter-spacing: .22em;
    color: gray; }

.details-gallery {
  padding: 25px 0px 0px 12px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto; }

.details-column {
  width: 40%;
  height: 100%;
  float: left;
  padding: 0 50px; }

.details-title {
  overflow: auto; }
  .details-title .shirt-title {
    font-family: "Teko", sans-serif;
    font-weight: 500;
    font-size: 32px;
    letter-spacing: .11em;
    line-height: 1em;
    color: black;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 0px; }

.details-price {
  overflow: auto; }
  .details-price .price {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: .15em;
    color: rgba(82, 82, 82, 0.6);
    margin-bottom: 14px;
    margin-top: 18px; }

.details {
  overflow: auto;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: .1em;
  color: rgba(82, 82, 82, 0.6); }
  .details p {
    margin-bottom: 25px; }

.selectors {
  overflow: auto; }
  .selectors p {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: .13em;
    color: gray;
    margin-bottom: 5px; }

.select-size-wrapper {
  background-color: #f6f6f6;
  height: 22px;
  width: 152px;
  font-size: 12px;
  letter-spacing: .3em;
  line-height: 1.9;
  text-align: center;
  padding: 8px 0;
  margin-bottom: 25px; }

.select-size-wrapper:after {
  content: '\25BE';
  color: gray;
  font-size: 12px;
  margin-left: 5px;
  font-family: sans-serif !important; }

.select-size {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: .15em;
  color: gray; }

.select-size:focus {
  outline: none; }

.quantity-input {
  background-color: #f6f6f6;
  height: 21px;
  width: 40px;
  padding: 8px 22px;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  margin-bottom: 25px;
  color: gray;
  font-size: 12px; }

.quantity-input:focus {
  outline: none; }

.add-button {
  border: solid;
  border-color: black;
  border-radius: 3px;
  border-width: 2px;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  letter-spacing: .2em;
  text-align: center;
  font-weight: 600;
  height: auto;
  width: auto;
  padding: 26px 48px; }

.add-button:hover {
  background-color: black;
  color: white; }

.shirt-img-column {
  width: 50%;
  height: 100%;
  float: left; }
  .shirt-img-column img {
    width: 90%;
    height: 100%; }

.home-wrapper {
  max-width: 1200px;
  overflow: auto; }

.home-header-img-wrapper {
  width: 100%;
  height: 1000px; }

.home-header-image {
  width: 100%;
  height: 100%;
  background-image: url("/images/all-bottles-v6.jpg");
  background-size: 170%;
  background-position: 50% 34%;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.parallax {
  background-position: 50% 50%; }

.best-of-la-wrapper {
  overflow: auto;
  text-align: center;
  padding: 110px 0px; }

.best-of-la-image {
  overflow: auto;
  padding-bottom: 160px; }

.enjoy-wrapper {
  overflow: auto;
  padding: 20px 0px; }
  .enjoy-wrapper h1 {
    font-family: "Teko", sans-serif;
    color: black;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: .1em;
    margin: 20px 0px; }
  .enjoy-wrapper p {
    font-family: "Lato", sans-serif;
    color: black;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: .17em; }

.home-columns-wrapper {
  overflow: auto;
  padding: 20px 50px 160px 65px; }

.home-left-column {
  width: 50%;
  float: left; }
  .home-left-column .left-column-image {
    width: 95%;
    height: 510px;
    background-image: url("/images/bulldog.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%; }
  .home-left-column h2 {
    font-family: "Teko", sans-serif;
    color: black;
    font-weight: 500;
    font-size: 26px;
    letter-spacing: .1em;
    margin-top: 30px;
    margin-bottom: 20px; }
  .home-left-column p {
    font-family: "Lato", sans-serif;
    color: #7d7d7d;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: .1em;
    line-height: 2.4em;
    padding-right: 71px; }

.home-right-column {
  width: 50%;
  float: left; }
  .home-right-column .right-column-image {
    width: 95%;
    height: 510px;
    background-image: url("/images/kombuchaflavors/ginger.jpg");
    background-position: center;
    background-size: 100%; }
  .home-right-column h2 {
    font-family: "Teko", sans-serif;
    color: black;
    font-weight: 500;
    font-size: 26px;
    letter-spacing: .1em;
    margin-top: 30px;
    margin-bottom: 20px; }
  .home-right-column p {
    font-family: "Lato", sans-serif;
    color: #7d7d7d;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: .1em;
    line-height: 2.4em;
    padding-right: 77px; }

.mission-image-wrapper {
  overflow: auto;
  text-align: center; }
  .mission-image-wrapper .mission-image {
    width: 100%;
    height: 1060px;
    background-image: url("/images/bottles-laydown-v4.jpg");
    background-position: 50% 50%;
    background-size: 181.5%;
    background-repeat: no-repeat;
    background-attachment: fixed; }
  .mission-image-wrapper .mission-content {
    padding: 380px 0px; }
  .mission-image-wrapper h3 {
    font-family: "Lato", sans-serif;
    color: black;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: .17em;
    margin-bottom: 12px; }
  .mission-image-wrapper p {
    font-family: "Teko", sans-serif;
    color: black;
    font-weight: 500;
    font-size: 41px;
    letter-spacing: .1em;
    padding: 0 240px 0 240px;
    margin: 0 0; }

.home-meet-dogs-wrapper {
  overflow: auto;
  text-align: center;
  padding: 220px 100px; }
  .home-meet-dogs-wrapper h4 {
    font-family: "Teko", sans-serif;
    color: black;
    font-weight: 500;
    font-size: 26px;
    letter-spacing: .09em;
    margin-top: 30px;
    margin-bottom: 20px; }
  .home-meet-dogs-wrapper p {
    font-family: "Lato", sans-serif;
    color: #7d7d7d;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: .1em;
    line-height: 2.4em;
    padding: 0 318px; }

.home-dogs-wrapper {
  overflow: auto;
  padding: 25px 0px 0 12px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto; }

.dog-img-wrapper1 {
  position: relative;
  float: left; }

.dog-img-wrapper2 {
  position: relative;
  float: left; }

.dog-img-wrapper1:nth-child(1) {
  max-width: 66.67%; }
  .dog-img-wrapper1:nth-child(1) img {
    height: 97%;
    width: 97%;
    display: block;
    padding-bottom: 20px; }

.dog-img-wrapper1:nth-child(2) {
  max-width: 33.33%; }
  .dog-img-wrapper1:nth-child(2) img {
    display: block;
    height: 94%;
    width: 95%;
    padding-bottom: 20px; }

.dog-img-wrapper1:nth-child(3) {
  max-width: 33.33%; }
  .dog-img-wrapper1:nth-child(3) img {
    display: block;
    height: 94%;
    width: 95%;
    padding-bottom: 20px; }

.dog-img-wrapper2:nth-child(1) {
  max-width: 33.33%; }
  .dog-img-wrapper2:nth-child(1) img {
    display: block;
    height: 94%;
    width: 95%;
    padding-bottom: 20px; }

.dog-img-wrapper2:nth-child(2) {
  max-width: 66.67%; }
  .dog-img-wrapper2:nth-child(2) img {
    height: 97%;
    width: 97.5%;
    display: block;
    padding-bottom: 20px; }

.dog-img-wrapper2:nth-child(3) {
  max-width: 33.33%;
  margin-top: -400px; }
  .dog-img-wrapper2:nth-child(3) img {
    display: block;
    height: 94%;
    width: 95%;
    padding-bottom: 20px; }

.home-dog-name {
  position: absolute;
  float: left;
  top: 0;
  width: 130px;
  height: 50px;
  z-index: 1;
  padding: 35px 35px;
  color: gray;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  letter-spacing: .3em;
  font-weight: 600;
  text-transform: uppercase; }

.site-nav {
  padding: 45px 40px;
  text-align: center; }

.header {
  padding: 16.5px 24px; }

.header-title-logo {
  max-width: 340px;
  width: 100%; }

.header-tagline {
  color: gray;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: .34em;
  line-height: 0em;
  text-transform: uppercase;
  color: grey; }

.header-cart {
  font-size: 8.8px;
  letter-spacing: .3em;
  font-weight: 600;
  position: absolute;
  line-height: 1em;
  text-align: right;
  min-width: 0;
  max-width: 58px;
  width: 100%;
  max-height: 42px;
  height: 100%;
  right: 0;
  margin: -50px 50px; }

.cart {
  color: #868686;
  font-family: "Lato", sans-serif; }

.header-items {
  white-space: nowrap;
  line-height: 1em;
  margin: -9px 0;
  color: #868686; }

.header-items:hover {
  color: rgba(82, 82, 82, 0.3); }

.header-nav-item {
  display: inline-block;
  padding: .618em;
  vertical-align: middle;
  font-family: "Lato", sans-serif;
  font-size: 8.8px;
  letter-spacing: .3em;
  font-weight: 600; }

.header-nav-item:hover {
  color: #868686; }

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer; }

a, .dropbtn {
  display: inline-block;
  text-decoration: none; }

.dropbtn:active {
  color: #868686; }

.dropdown {
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 107px;
  z-index: 1; }

.dropdown-content a {
  color: rgba(82, 82, 82, 0.3);
  padding: 0px 2px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: "Lato", sans-serif;
  font-size: 8.8px;
  letter-spacing: .3em;
  font-weight: 600; }

.dropdown-content a:hover {
  color: #868686; }

.dropdown:hover .dropdown-content {
  display: block; }

body {
  background-color: #ffffff;
  max-width: 1200px;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto; }

.main-wrapper {
  background-color: #ffffff;
  max-width: 1200px;
  height: auto; }

.footer-container {
  text-align: center;
  padding: 100px 64px 175px 64px;
  max-height: 490px;
  max-width: 1200px; }

.social-icons {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 45px 17px; }

.social-icon {
  font-size: 18px;
  padding: 4px 4px;
  color: black; }

.footer-items {
  padding: 23px 0px; }

.footer-item {
  color: #868686;
  display: inline-block;
  vertical-align: middle;
  font-family: "Lato", sans-serif;
  font-size: 8.8px;
  letter-spacing: .3em;
  font-weight: 600;
  line-height: 2em;
  padding-right: .6em; }

.merchandise-body {
  max-width: 1200px;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto; }

.merchandise-gallery {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  padding: 25px 0 0 12px; }

.merchandise-container {
  width: 50%;
  float: left;
  position: relative; }

.merchandise-img {
  width: 96%;
  padding: 10px 0; }

.item-name-container {
  position: absolute;
  float: left;
  top: 0;
  width: 150px;
  height: 50px;
  z-index: 1;
  padding: 35px 35px; }

.item-name {
  color: gray;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  letter-spacing: .3em;
  font-weight: 600;
  text-transform: uppercase; }

.our-dogs-body {
  max-width: 1200px;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto; }

.our-dogs-banner {
  background-image: url("/images/dog-banners-v2.jpg");
  background-repeat: no-repeat;
  background-position: 36.5% 60%;
  background-size: 256%;
  background-attachment: fixed;
  padding-top: 175px;
  padding-bottom: 175px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  content: '';
  text-align: center; }

.view-title {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: .2em;
  line-height: 1.4em;
  text-transform: uppercase;
  text-align: center;
  color: black;
  padding-bottom: 1px; }

.view-desc {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  letter-spacing: .06em;
  font-weight: 600;
  text-align: center;
  font-weight: 400;
  padding-bottom: 10px; }

.block-button-container {
  text-align: center;
  padding: 20px 20px; }

.block-button {
  border: solid;
  border-color: black;
  border-radius: 3px;
  border-width: 2px;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  letter-spacing: .2em;
  text-align: center;
  font-weight: 600;
  height: auto;
  width: auto;
  padding: 22px 38px; }

.block-button:hover {
  background-color: black;
  color: white; }

.our-dogs-gallery {
  padding: 25px 0px 0 12px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto; }

.dog-grid-container {
  position: relative;
  float: left; }

.dog-grid-container:nth-child(1) {
  max-width: 66.67%; }
  .dog-grid-container:nth-child(1) img {
    height: 97%;
    width: 97%;
    display: block;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(2) {
  max-width: 33.33%; }
  .dog-grid-container:nth-child(2) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(3) {
  max-width: 33.33%; }
  .dog-grid-container:nth-child(3) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(4) {
  max-width: 33.33%; }
  .dog-grid-container:nth-child(4) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(5) {
  max-width: 66.67%; }
  .dog-grid-container:nth-child(5) img {
    height: 97%;
    width: 97%;
    display: block;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(6) {
  max-width: 33.33%;
  margin-top: -33.7%; }
  .dog-grid-container:nth-child(6) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(7) {
  max-width: 66.67%; }
  .dog-grid-container:nth-child(7) img {
    height: 97%;
    width: 97%;
    display: block;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(8) {
  max-width: 33.33%; }
  .dog-grid-container:nth-child(8) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(9) {
  max-width: 33.33%; }
  .dog-grid-container:nth-child(9) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(10) {
  max-width: 33.33%; }
  .dog-grid-container:nth-child(10) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(11) {
  max-width: 66.67%; }
  .dog-grid-container:nth-child(11) img {
    height: 97%;
    width: 97%;
    display: block;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(12) {
  max-width: 33.33%;
  margin-top: -33.7%; }
  .dog-grid-container:nth-child(12) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(13) {
  max-width: 66.67%; }
  .dog-grid-container:nth-child(13) img {
    height: 97%;
    width: 97%;
    display: block;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(14) {
  max-width: 33.33%; }
  .dog-grid-container:nth-child(14) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(15) {
  max-width: 33.33%; }
  .dog-grid-container:nth-child(15) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(16) {
  max-width: 50%; }
  .dog-grid-container:nth-child(16) img {
    display: block;
    height: 95%;
    width: 95%;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(17) {
  max-width: 50%; }
  .dog-grid-container:nth-child(17) img {
    display: block;
    height: 95%;
    width: 95%;
    padding-bottom: 20px; }

.dog-name-container {
  position: absolute;
  float: left;
  top: 0;
  width: 130px;
  height: 50px;
  z-index: 1;
  padding: 35px 35px; }

.dog-name {
  color: gray;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  letter-spacing: .3em;
  font-weight: 600;
  text-transform: uppercase; }

.our-kombucha-wrapper {
  max-width: 1200px;
  padding: 15px 65px;
  overflow: auto; }

.our-kombucha-image {
  width: 100%;
  height: 100%;
  background-image: url("/images/kombucha.jpeg");
  background-size: cover;
  background-position: center; }

.our-kombucha-header h1 {
  font-family: "Teko", sans-serif;
  color: black;
  font-weight: 500;
  font-size: 27px;
  letter-spacing: .1em; }

.our-kombucha-content h2 {
  font-family: "Lato", sans-serif;
  color: black;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: .14em;
  line-height: 2.5em; }

.our-kombucha-content p {
  font-family: "Lato", sans-serif;
  color: #7d7d7d;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: .1em;
  line-height: 2.4em;
  padding-bottom: 30px; }

#end-text {
  padding-bottom: 3px; }

#find-btn {
  text-align: left;
  padding-left: 0; }

.profile-body {
  max-width: 1200px;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto; }

.profile-container {
  padding: 25px 0px 0 0px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  overflow: auto; }

.profile-column {
  width: 45%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  padding: 3px 30px; }

.profile-name {
  overflow: auto; }
  .profile-name .name {
    font-family: "Teko", sans-serif;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: .1em;
    line-height: 1.4em;
    color: black;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 0px; }

.profile-status {
  overflow: auto; }
  .profile-status .status {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: .15em;
    line-height: 1.4em;
    color: black;
    margin-bottom: 20px; }

.profile-story {
  overflow: auto; }
  .profile-story .story {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .1em;
    line-height: 2.1em;
    color: rgba(82, 82, 82, 0.6);
    margin-bottom: 40px; }

.profile-btns-container {
  overflow: auto; }

.profile-btns {
  padding-right: 17px;
  float: left; }

.profile-btn {
  border: solid;
  border-color: black;
  border-radius: 4px;
  border-width: 2px;
  font-family: "Lato", sans-serif;
  font-size: 11px;
  letter-spacing: .25em;
  text-align: center;
  font-weight: 700;
  height: auto;
  width: auto;
  padding: 13px 22px; }

.profile-btn:hover {
  background-color: black;
  color: white; }

.profile-image-container {
  width: 45%;
  height: 100%;
  vertical-align: middle;
  display: inline-block; }
  .profile-image-container img {
    width: 100%;
    height: 100%; }

.success-body {
  max-width: 1200px;
  max-height: 100%; }

.success-banner {
  background-image: url("/images/dog-banners-v2-2.jpg");
  background-repeat: no-repeat;
  background-position: 65.5% 72%;
  background-size: 260%;
  background-attachment: fixed;
  padding-top: 175px;
  padding-bottom: 175px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  content: '';
  margin: 0 auto; }

.success-gallery {
  padding: 25px 0px 0 12px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto; }

.success-grid-container {
  position: relative;
  float: left; }

.success-grid-container:nth-child(1) {
  max-width: 66.67%; }
  .success-grid-container:nth-child(1) img {
    height: 97%;
    width: 97%;
    display: block;
    padding-bottom: 20px; }

.success-grid-container:nth-child(2) {
  max-width: 33.33%; }
  .success-grid-container:nth-child(2) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.success-grid-container:nth-child(3) {
  max-width: 33.33%; }
  .success-grid-container:nth-child(3) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.success-grid-container:nth-child(4) {
  max-width: 33.33%; }
  .success-grid-container:nth-child(4) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.success-grid-container:nth-child(5) {
  max-width: 66.67%; }
  .success-grid-container:nth-child(5) img {
    height: 97%;
    width: 103.5%;
    display: block;
    padding-bottom: 20px; }

.success-grid-container:nth-child(6) {
  max-width: 33.33%;
  margin-top: -33.7%; }
  .success-grid-container:nth-child(6) img {
    display: block;
    height: 29.5vw;
    width: 94%;
    padding-bottom: 20px; }

.success-grid-container:nth-child(7) {
  max-width: 66.67%;
  clear: both; }
  .success-grid-container:nth-child(7) img {
    height: 97%;
    width: 103.5%;
    display: block;
    padding-bottom: 20px; }

.success-grid-container:nth-child(8) {
  max-width: 33.33%;
  margin-left: 50px; }
  .success-grid-container:nth-child(8) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.success-grid-container:nth-child(9) {
  max-width: 33.33%;
  margin-left: 50px; }
  .success-grid-container:nth-child(9) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.success-grid-container:nth-child(10) {
  max-width: 50%; }
  .success-grid-container:nth-child(10) img {
    display: block;
    height: 95%;
    width: 96%;
    padding-bottom: 19px; }

.success-grid-container:nth-child(11) {
  max-width: 50%; }
  .success-grid-container:nth-child(11) img {
    display: block;
    height: 95%;
    width: 96%;
    padding-bottom: 19px; }

.success-grid-container:nth-child(12) {
  max-width: 66.67%; }
  .success-grid-container:nth-child(12) img {
    height: 97%;
    width: 103.5%;
    display: block;
    padding-bottom: 20px; }

.success-grid-container:nth-child(13) {
  max-width: 33.33%;
  margin-left: 50px; }
  .success-grid-container:nth-child(13) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.success-grid-container:nth-child(14) {
  max-width: 33.33%;
  margin-left: 50px; }
  .success-grid-container:nth-child(14) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.success-grid-container:nth-child(15) {
  max-width: 50%; }
  .success-grid-container:nth-child(15) img {
    display: block;
    height: 96%;
    width: 96%;
    padding-bottom: 20px; }

.success-grid-container:nth-child(16) {
  width: 50%; }
  .success-grid-container:nth-child(16) img {
    display: block;
    height: 95%;
    width: 96%;
    padding-bottom: 20px; }
