.about-wrapper {
  max-width: 1200px;
  padding: 15px 65px;
  overflow: auto; }

.image-wrapper {
  width: 100%;
  height: 570px;
  overflow: auto; }

.about-image {
  width: 100%;
  height: 100%;
  background-image: url("/images/gabe_cooler.jpg");
  background-size: cover;
  background-position: center; }

.content-wrapper {
  padding: 118px 275px;
  overflow: auto; }

.about-header h1 {
  font-family: "Teko", sans-serif;
  color: black;
  font-weight: 500;
  font-size: 27px;
  letter-spacing: .1em; }

.about-content {
  font-family: "Lato", sans-serif;
  color: #7d7d7d;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: .1em;
  line-height: 2.8em; }
  .about-content a {
    color: rgba(82, 82, 82, 0.6);
    text-decoration: underline; }

@media (max-width: 1025px) {
  .image-wrapper {
    height: 465.5px; }
  .content-wrapper {
    padding: 118px 215px;
    overflow: auto; } }

@media (max-width: 769px) {
  .about-wrapper {
    padding: 15px 40px; }
  .image-wrapper {
    height: 359px; }
  .content-wrapper {
    padding: 118px 146px;
    overflow: auto; }
  .about-header h1 {
    font-size: 26px;
    letter-spacing: .1em; }
  .about-content {
    font-size: 14px;
    letter-spacing: .1em;
    line-height: 2.6em; } }

@media (max-width: 426px) {
  .about-wrapper {
    padding: 75px 20px 0px 20px; }
  .image-wrapper {
    height: 194px; }
  .content-wrapper {
    padding: 90px 5px 0px 5px;
    overflow: auto; }
  .about-header h1 {
    font-size: 26px;
    letter-spacing: .1em; }
  .about-content {
    font-size: 14px;
    letter-spacing: .1em;
    line-height: 2.6em; } }

@media (max-width: 376px) {
  .image-wrapper {
    height: 167.5px; } }

.cart-wrapper {
  max-width: 1200px;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  padding: 20px 65px; }

.shopping-header h1 {
  font-family: "Teko", sans-serif;
  font-weight: 500;
  font-size: 27px;
  letter-spacing: .1em;
  line-height: 1em;
  color: black;
  text-transform: uppercase;
  margin-bottom: 40px; }

.cart-headers p {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 10px;
  letter-spacing: .12em;
  color: #7d7d7d; }

.cart-headers .header-quantity {
  margin-left: 732px; }

.cart-headers .header-price {
  margin-left: 125px; }

.top-line {
  margin-top: 17px;
  margin-bottom: 0px;
  font-weight: 400;
  border-color: rgba(221, 221, 221, 0.8); }

.cart-row {
  width: 100%;
  overflow: auto;
  height: 137px; }

.cart-img-wrapper img {
  width: 10%;
  height: 80%;
  float: left;
  padding-top: 13px;
  padding-bottom: 13px; }

.cart-item-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: .12em;
  color: gray;
  float: left;
  margin-top: 50px;
  margin-left: 20px;
  overflow: auto;
  height: 70px;
  width: 260px; }
  .cart-item-text p {
    margin: 2px 2px; }

.cart-quantity {
  float: left;
  overflow: auto; }
  .cart-quantity input {
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    border-radius: 4px;
    height: 27px;
    width: 28px;
    color: gray;
    margin: 50px 110px 35px 380px;
    font-size: 15px;
    text-align: right;
    padding-right: 7px; }
  .cart-quantity input:focus {
    outline: none; }

.cart-item-price {
  float: left;
  margin: 44px 50px 0px 0px;
  overflow: auto; }
  .cart-item-price p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: .1em;
    color: gray; }

.cart-remove-btn {
  float: left;
  margin: 56px 0px 0px 20px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: .15em;
  color: #cccccc;
  cursor: pointer; }

hr {
  clear: both;
  border-color: rgba(221, 221, 221, 0.8); }

.subtotal {
  float: right;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: .12em;
  color: gray;
  margin: 12px 0; }

.subtotal-span {
  padding-left: 20px;
  padding-right: 20px; }

.checkout-btn-wrapper {
  float: right;
  margin-top: 12px;
  overflow: auto; }

.checkout-button {
  border: solid;
  border-color: black;
  border-radius: 3px;
  border-width: 2px;
  font-family: "Lato", sans-serif;
  font-size: 11px;
  letter-spacing: .2em;
  text-align: center;
  font-weight: 400;
  height: auto;
  width: auto;
  padding: 12px 32px; }

.checkout-button:hover {
  background-color: black;
  color: white; }

@media (max-width: 1025px) {
  .cart-headers .header-quantity {
    margin-left: 575px; }
  .cart-headers .header-price {
    margin-left: 100px; }
  .cart-row {
    height: 130px; }
  .cart-img-wrapper img {
    width: 11.5%;
    height: 80%;
    float: left;
    padding-top: 13px;
    padding-bottom: 13px; }
  .cart-quantity input {
    margin: 50px 80px 35px 225px; }
  .cart-item-price {
    margin: 44px 50px 0px 0px; }
  .repeat-line {
    margin-top: 0;
    margin-bottom: 0;
    color: #cccccc; } }

@media (max-width: 769px) {
  .cart-wrapper {
    padding: 20px 35px; }
  .cart-headers .header-quantity {
    margin-left: 445px; }
  .cart-headers .header-price {
    margin-left: 75px; }
  .cart-row {
    height: 144px; }
  .cart-img-wrapper img {
    width: 17%;
    height: 80%;
    float: left;
    padding-top: 13px;
    padding-bottom: 13px; }
  .cart-item-text {
    font-size: 13px;
    letter-spacing: .06em;
    margin-top: 50px;
    margin-left: 20px;
    overflow: auto;
    height: 70px;
    width: 260px; }
    .cart-item-text p {
      margin: 2px 2px; }
  .cart-quantity input {
    margin: 50px 50px 35px 80px; }
  .cart-item-price {
    margin: 44px 10px 0px 0px; }
  .cart-remove-btn {
    margin: 56px 0px 0px 20px; } }

@media (max-width: 426px) {
  .shopping-header h1 {
    margin-top: 45px; }
  .cart-wrapper {
    padding: 20px 20px; }
  .cart-headers .header-quantity {
    margin-left: 185px; }
  .cart-headers .header-price {
    margin-left: 30px; }
  .cart-row {
    height: 98px; }
  .cart-img-wrapper img {
    width: 17%;
    padding-top: 13px;
    padding-bottom: 13px; }
  .cart-item-text {
    font-size: 11px;
    letter-spacing: .02em;
    margin-top: 23px;
    margin-left: 13px;
    height: 70px;
    width: 135px; }
    .cart-item-text p {
      margin: 2px 2px; }
  .cart-quantity input {
    width: 17px;
    margin: 31px 20px 31px 10px; }
  .cart-item-price {
    margin: 23px 10px 0px 0px; }
  .cart-remove-btn {
    margin: 37px 0px 0px 10px; } }

@media (max-width: 376px) {
  .cart-headers .header-quantity {
    margin-left: 145px; }
  .cart-headers .header-price {
    margin-left: 30px; }
  .cart-row {
    height: 81px; }
  .cart-img-wrapper img {
    padding-top: 13px;
    padding-bottom: 13px; }
  .cart-item-text {
    margin-top: 19px;
    margin-left: 13px;
    height: 45px;
    width: 105px; }
    .cart-item-text p {
      margin: 2px 2px; }
  .cart-quantity input {
    width: 17px;
    margin: 24px 20px 24px 10px; }
  .cart-item-price {
    margin: 17px 10px 0px 0px; }
  .cart-remove-btn {
    margin: 31px 0px 0px 10px; } }

@media (max-width: 321px) {
  .cart-headers .header-quantity {
    margin-left: 185px; }
  .cart-headers .header-price {
    margin-left: 30px; }
  .cart-row {
    height: 91px; }
  .cart-img-wrapper img {
    padding-top: 20px;
    padding-bottom: 15px; }
  .cart-item-text {
    margin-top: 9px;
    margin-left: 13px;
    margin-bottom: 9px;
    height: 71px;
    width: 76px; }
    .cart-item-text p {
      margin: 2px 2px; }
  .cart-quantity input {
    width: 17px;
    margin: 28px 12px 24px 0px; }
  .cart-item-price {
    margin: 21px 10px 0px 0px; }
  .cart-remove-btn {
    margin: 35px 0px 0px 5px; } }

.details-body {
  max-width: 1200px;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto; }

.prev-next {
  padding-left: 62px; }
  .prev-next span {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 9px;
    letter-spacing: .22em;
    color: gray; }

.slash {
  padding-left: 6px;
  padding-right: 6px; }

.details-gallery {
  padding: 25px 0px 0px 12px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto; }

.details-column {
  width: 40%;
  height: 100%;
  float: left;
  padding: 0 50px; }

.details-title {
  overflow: auto; }
  .details-title .shirt-title {
    font-family: "Teko", sans-serif;
    font-weight: 500;
    font-size: 32px;
    letter-spacing: .11em;
    line-height: 1em;
    color: black;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 0px; }

.details-price {
  overflow: auto; }
  .details-price .price {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: .15em;
    color: rgba(82, 82, 82, 0.6);
    margin-bottom: 14px;
    margin-top: 18px; }

.details {
  overflow: auto;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: .1em;
  color: rgba(82, 82, 82, 0.6); }
  .details p {
    margin-bottom: 25px; }

.selectors {
  overflow: auto; }
  .selectors p {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: .13em;
    color: gray;
    margin-bottom: 5px; }

.select-size-wrapper {
  background-color: #f6f6f6;
  height: 22px;
  width: 152px;
  font-size: 12px;
  letter-spacing: .3em;
  line-height: 1.9;
  text-align: center;
  padding: 8px 0;
  margin-bottom: 25px; }

.select-size-wrapper:after {
  content: '\25BE';
  color: gray;
  font-size: 12px;
  margin-left: 5px;
  font-family: sans-serif !important; }

.select-size {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: .15em;
  color: gray;
  cursor: pointer; }

.select-size:focus {
  outline: none; }

.quantity-input {
  background-color: #f6f6f6;
  height: 21px;
  width: 40px;
  padding: 8px 22px;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  margin-bottom: 25px;
  color: gray;
  font-size: 12px;
  cursor: pointer; }

.quantity-input:focus {
  outline: none; }

.add-button {
  border: solid;
  border-color: black;
  border-radius: 3px;
  border-width: 2px;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  letter-spacing: .2em;
  text-align: center;
  font-weight: 600;
  height: auto;
  width: auto;
  padding: 26px 48px; }

.add-button:hover {
  background-color: black;
  color: white; }

.shirt-img-column {
  width: 50%;
  height: 100%;
  float: left; }
  .shirt-img-column img {
    width: 90%;
    height: 100%; }

@media (max-width: 769px) {
  .shirt-img-column {
    width: 40%;
    height: 100%;
    float: left; }
    .shirt-img-column img {
      width: 90%;
      height: 100%; }
  .details-column {
    width: 40%;
    height: 100%;
    float: left;
    padding: 0 50px; } }

.home-wrapper {
  max-width: 1200px;
  overflow: auto; }

.home-header-img-wrapper {
  width: 100%;
  height: 1000px; }

.home-header-image {
  width: 100%;
  height: 100%;
  background-image: url("/images/all-bottles-v6.jpg");
  background-size: 170%;
  background-position: 50% 34%;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.parallax {
  background-position: 50% 50%; }

.best-of-la-wrapper {
  overflow: auto;
  text-align: center;
  padding: 110px 0px; }

.best-of-la-image {
  overflow: auto;
  padding-bottom: 160px; }

.enjoy-wrapper {
  overflow: auto;
  padding: 20px 0px; }
  .enjoy-wrapper h1 {
    font-family: "Teko", sans-serif;
    color: black;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: .1em;
    margin: 20px 0px; }
  .enjoy-wrapper p {
    font-family: "Lato", sans-serif;
    color: black;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: .17em; }

.home-columns-wrapper {
  overflow: auto;
  padding: 20px 50px 160px 65px; }

.home-left-column {
  width: 50%;
  float: left; }
  .home-left-column .left-column-image {
    width: 95%;
    height: 510px;
    background-image: url("/images/bulldog.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%; }
  .home-left-column h2 {
    font-family: "Teko", sans-serif;
    color: black;
    font-weight: 500;
    font-size: 26px;
    letter-spacing: .1em;
    margin-top: 30px;
    margin-bottom: 20px; }
  .home-left-column p {
    font-family: "Lato", sans-serif;
    color: #7d7d7d;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: .1em;
    line-height: 2.4em;
    padding-right: 71px; }

.home-right-column {
  width: 50%;
  float: left; }
  .home-right-column .right-column-image {
    width: 95%;
    height: 510px;
    background-image: url("/images/kombuchaflavors/ginger.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat; }
  .home-right-column h2 {
    font-family: "Teko", sans-serif;
    color: black;
    font-weight: 500;
    font-size: 26px;
    letter-spacing: .1em;
    margin-top: 30px;
    margin-bottom: 20px; }
  .home-right-column p {
    font-family: "Lato", sans-serif;
    color: #7d7d7d;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: .1em;
    line-height: 2.4em;
    padding-right: 77px; }
  .home-right-column #link {
    text-decoration: underline;
    font-weight: 600; }
  .home-right-column #link:hover {
    color: rgba(82, 82, 82, 0.36); }

.mission-image-wrapper {
  overflow: auto;
  text-align: center; }
  .mission-image-wrapper .mission-image {
    width: 100%;
    height: 1060px;
    background-image: url("/images/bottles-laydown-v4.jpg");
    background-position: 50% 50%;
    background-size: 181.5%;
    background-repeat: no-repeat;
    background-attachment: fixed; }
  .mission-image-wrapper .mission-content {
    padding: 380px 0px; }
  .mission-image-wrapper h3 {
    font-family: "Lato", sans-serif;
    color: black;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: .17em;
    margin-bottom: 12px; }
  .mission-image-wrapper p {
    font-family: "Teko", sans-serif;
    color: black;
    font-weight: 500;
    font-size: 41px;
    letter-spacing: .1em;
    padding: 0 240px 0 240px;
    margin: 0 0; }

.home-meet-dogs-wrapper {
  overflow: auto;
  text-align: center;
  padding: 220px 100px; }
  .home-meet-dogs-wrapper h4 {
    font-family: "Teko", sans-serif;
    color: black;
    font-weight: 500;
    font-size: 26px;
    letter-spacing: .09em;
    margin-top: 30px;
    margin-bottom: 20px; }
  .home-meet-dogs-wrapper p {
    font-family: "Lato", sans-serif;
    color: #7d7d7d;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: .1em;
    line-height: 2.4em;
    padding: 0 318px; }

.home-dogs-wrapper {
  overflow: auto;
  padding: 25px 0px 0 12px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto; }

.dog-img-wrapper1 {
  position: relative;
  float: left; }

.dog-img-wrapper2 {
  position: relative;
  float: left; }

.dog-img-wrapper1:nth-child(1) {
  max-width: 66.67%; }
  .dog-img-wrapper1:nth-child(1) img {
    height: 97%;
    width: 97%;
    display: block;
    padding-bottom: 20px; }

.dog-img-wrapper1:nth-child(2) {
  max-width: 33.33%; }
  .dog-img-wrapper1:nth-child(2) img {
    display: block;
    height: 94%;
    width: 94.6%;
    padding-bottom: 20px; }

.dog-img-wrapper1:nth-child(3) {
  max-width: 33.33%; }
  .dog-img-wrapper1:nth-child(3) img {
    display: block;
    height: 94%;
    width: 94.5%;
    padding-bottom: 20px; }

.dog-img-wrapper2:nth-child(1) {
  max-width: 33.33%; }
  .dog-img-wrapper2:nth-child(1) img {
    display: block;
    height: 94%;
    width: 95%;
    padding-bottom: 20px; }

.dog-img-wrapper2:nth-child(2) {
  max-width: 66.67%; }
  .dog-img-wrapper2:nth-child(2) img {
    height: 97%;
    width: 97.5%;
    display: block;
    padding-bottom: 20px; }

.dog-img-wrapper2:nth-child(3) {
  max-width: 33.33%;
  margin-top: -400px; }
  .dog-img-wrapper2:nth-child(3) img {
    display: block;
    height: 94%;
    width: 95%;
    padding-bottom: 20px; }

.home-dog-name {
  position: absolute;
  float: left;
  top: 0;
  width: 130px;
  height: 50px;
  z-index: 1;
  padding: 35px 35px;
  color: gray;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  letter-spacing: .3em;
  font-weight: 600;
  text-transform: uppercase; }

@media (max-width: 1025px) {
  .home-header-image {
    background-size: 216%;
    background-position: 50% 35%; }
  .home-left-column {
    width: 50%;
    float: left; }
    .home-left-column .left-column-image {
      width: 93%;
      height: 421px; }
    .home-left-column p {
      letter-spacing: .06em;
      line-height: 2.4em;
      padding-right: 83px; }
  .home-right-column {
    width: 50%;
    float: left; }
    .home-right-column .right-column-image {
      width: 93%;
      height: 421px; }
    .home-right-column p {
      letter-spacing: .06em;
      line-height: 2.4em;
      padding-right: 95px; }
  .home-meet-dogs-wrapper {
    padding: 220px 20px; }
    .home-meet-dogs-wrapper p {
      font-size: 15px;
      letter-spacing: .06em;
      line-height: 2.3em;
      padding: 0 348px; }
  .dog-img-wrapper1:nth-child(1) {
    max-width: 66.67%; }
    .dog-img-wrapper1:nth-child(1) img {
      width: 96%;
      display: block;
      padding-bottom: 20px; }
  .dog-img-wrapper1:nth-child(2) {
    max-width: 33.33%; }
    .dog-img-wrapper1:nth-child(2) img {
      display: block;
      width: 93%;
      padding-bottom: 20px; }
  .dog-img-wrapper1:nth-child(3) {
    max-width: 33.33%; }
    .dog-img-wrapper1:nth-child(3) img {
      display: block;
      width: 93%;
      padding-bottom: 20px; }
  .dog-img-wrapper2 {
    clear: both; }
  .dog-img-wrapper2:nth-child(1) {
    float: left;
    max-width: 33.33%; }
    .dog-img-wrapper2:nth-child(1) img {
      width: 92.7%; }
  .dog-img-wrapper2:nth-child(2) {
    max-width: 66.67%;
    float: left;
    margin-left: 340px;
    margin-top: -332px; }
    .dog-img-wrapper2:nth-child(2) img {
      width: 96.5%; }
  .dog-img-wrapper2:nth-child(3) {
    float: left;
    max-width: 33.33%;
    margin-top: -330px; }
    .dog-img-wrapper2:nth-child(3) img {
      width: 92.7%; } }

@media (max-width: 769px) {
  .home-header-image {
    background-size: 267%;
    background-position: 50% 40%; }
  .home-columns-wrapper {
    overflow: auto;
    padding: 20px 22px 160px 40px; }
  .home-left-column {
    width: 50%;
    float: left; }
    .home-left-column .left-column-image {
      width: 93%;
      height: 321px; }
    .home-left-column p {
      letter-spacing: .06em;
      line-height: 2.4em;
      padding-right: 71px; }
  .home-right-column {
    width: 50%;
    float: left; }
    .home-right-column .right-column-image {
      width: 93%;
      height: 321px; }
    .home-right-column p {
      letter-spacing: .06em;
      line-height: 2.4em;
      padding-right: 71px; }
  .mission-image-wrapper {
    overflow: auto;
    text-align: center; }
    .mission-image-wrapper .mission-image {
      width: 100%;
      height: 1014px;
      background-size: 155%; }
    .mission-image-wrapper .mission-content {
      padding: 388px 0px; }
    .mission-image-wrapper h3 {
      font-size: 10px;
      letter-spacing: .18em;
      margin-bottom: 20px; }
    .mission-image-wrapper p {
      font-size: 41px;
      letter-spacing: .06em;
      line-height: 1.2;
      padding: 0 170px;
      margin: 0 0; }
  .home-meet-dogs-wrapper {
    padding: 220px 20px; }
    .home-meet-dogs-wrapper p {
      font-size: 15px;
      letter-spacing: .06em;
      line-height: 2.3em;
      padding: 0 251px; }
  .dog-img-wrapper1:nth-child(1) {
    max-width: 66.67%; }
    .dog-img-wrapper1:nth-child(1) img {
      width: 96%;
      display: block;
      padding-bottom: 20px; }
  .dog-img-wrapper1:nth-child(2) {
    max-width: 33.33%; }
    .dog-img-wrapper1:nth-child(2) img {
      display: block;
      width: 92%;
      padding-bottom: 20px; }
  .dog-img-wrapper1:nth-child(3) {
    max-width: 33.33%; }
    .dog-img-wrapper1:nth-child(3) img {
      display: block;
      width: 92%;
      padding-bottom: 20px; }
  .dog-img-wrapper2 {
    clear: both; }
  .dog-img-wrapper2:nth-child(1) {
    float: left;
    max-width: 33.33%; }
    .dog-img-wrapper2:nth-child(1) img {
      width: 92%; }
  .dog-img-wrapper2:nth-child(2) {
    max-width: 66.67%;
    float: left;
    margin-left: 250px;
    margin-top: -250px; }
    .dog-img-wrapper2:nth-child(2) img {
      width: 96%;
      float: left; }
  .dog-img-wrapper2:nth-child(3) {
    float: left;
    max-width: 33.33%;
    margin-top: -250px; }
    .dog-img-wrapper2:nth-child(3) img {
      display: block;
      width: 92%;
      padding-bottom: 20px; } }

@media (max-width: 426px) {
  .home-header-image {
    background-size: 449%;
    background-position: 50% 46%; }
  .best-of-la-image {
    padding-bottom: 100px; }
    .best-of-la-image img {
      width: 366.5px;
      height: 106.5px; }
  .enjoy-wrapper h1 {
    font-family: "Teko", sans-serif;
    color: black;
    font-weight: 500;
    font-size: 32px;
    letter-spacing: .05em;
    line-height: 1.2;
    margin: 20px 0px; }
  .enjoy-wrapper p {
    font-family: "Lato", sans-serif;
    color: black;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: .17em; }
  .home-columns-wrapper {
    overflow: auto;
    padding: 30px 2px 160px 21px; }
  .home-left-column {
    width: 100%; }
    .home-left-column .left-column-image {
      width: 95%;
      height: 365px; }
    .home-left-column h2 {
      margin-bottom: 10px; }
    .home-left-column p {
      font-size: 15px;
      letter-spacing: .06em;
      line-height: 2.3em;
      padding-right: 20px; }
  .home-right-column {
    width: 100%; }
    .home-right-column .right-column-image {
      width: 95%;
      height: 365px; }
    .home-right-column h2 {
      margin-bottom: 10px; }
    .home-right-column p {
      font-size: 15px;
      letter-spacing: .06em;
      line-height: 2.3em;
      padding-right: 20px; }
  .mission-image-wrapper {
    overflow: auto;
    text-align: center; }
    .mission-image-wrapper .mission-image {
      width: 100%;
      height: 883px;
      background-size: 450%; }
    .mission-image-wrapper .mission-content {
      padding: 344px 0px; }
    .mission-image-wrapper h3 {
      font-size: 10px;
      letter-spacing: .18em;
      margin-bottom: 17px; }
    .mission-image-wrapper p {
      font-size: 33px;
      letter-spacing: .06em;
      line-height: 1.2;
      padding: 0 15px 0 15px;
      margin: 0 0; }
  .home-meet-dogs-wrapper {
    padding: 220px 20px; }
    .home-meet-dogs-wrapper p {
      font-size: 15px;
      letter-spacing: .06em;
      line-height: 2.3em;
      padding: 0 0; }
  .dog-img-wrapper1:nth-child(1) {
    max-width: 100%; }
    .dog-img-wrapper1:nth-child(1) img {
      width: 94%;
      display: block;
      padding-bottom: 20px; }
  .dog-img-wrapper1:nth-child(2) {
    max-width: 100%; }
    .dog-img-wrapper1:nth-child(2) img {
      display: block;
      width: 94%;
      padding-bottom: 20px; }
  .dog-img-wrapper1:nth-child(3) {
    max-width: 100%; }
    .dog-img-wrapper1:nth-child(3) img {
      display: block;
      width: 94%;
      padding-bottom: 20px; }
  .dog-img-wrapper2:nth-child(1) {
    max-width: 100%; }
    .dog-img-wrapper2:nth-child(1) img {
      display: block;
      width: 94%;
      padding-bottom: 20px; }
  .dog-img-wrapper2:nth-child(2) {
    max-width: 100%;
    margin-left: 0;
    margin-top: 0; }
    .dog-img-wrapper2:nth-child(2) img {
      width: 94%;
      display: block;
      padding-bottom: 20px; }
  .dog-img-wrapper2:nth-child(3) {
    max-width: 100%;
    margin-top: 0px; }
    .dog-img-wrapper2:nth-child(3) img {
      width: 94%;
      display: block;
      padding-bottom: 20px; } }

@media (max-width: 376px) {
  .home-header-image {
    background-size: 460%;
    background-position: 50% 50%; }
  .best-of-la-image img {
    width: 315px;
    height: 92px; } }

@media (max-width: 321px) {
  .home-header-image {
    background-size: 535%;
    background-position: 50% 50%; }
  .best-of-la-image img {
    width: 260px;
    height: 76px; }
  .mission-image-wrapper {
    overflow: auto;
    text-align: center; }
    .mission-image-wrapper .mission-image {
      width: 100%;
      height: 921px;
      background-size: 450%; }
    .mission-image-wrapper .mission-content {
      padding: 343px 0px; } }

.site-nav {
  padding: 45px 40px;
  text-align: center; }

.mobile-menu {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  transform: translateX(-100%);
  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91); }
  .mobile-menu .close-btn {
    color: #868686;
    font-size: 26px;
    float: right;
    right: 0;
    padding-right: 20px;
    padding-top: 10px;
    position: absolute; }
  .mobile-open .mobile-menu {
    transform: translateX(0%);
    transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91); }

.mobile-routes-menu {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: white;
  transform: translateX(-80%);
  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91); }
  .mobile-routes-menu .hidden-nav-items {
    padding-top: 38px;
    padding-left: 40px; }
  .mobile-routes-menu a {
    display: block;
    color: rgba(82, 82, 82, 0.7);
    font-size: 13px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    letter-spacing: .25em;
    line-height: 1.8em;
    padding-bottom: 8px; }
  .routes-open .mobile-routes-menu {
    transform: translateX(0); }

.mobile-social-menu {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: white;
  transform: translateX(-80%);
  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91); }
  .mobile-social-menu .social-items {
    padding-top: 38px;
    padding-left: 40px; }
  .mobile-social-menu .back-link {
    padding-bottom: 20px; }
  .mobile-social-menu a {
    display: block;
    color: rgba(82, 82, 82, 0.7);
    font-size: 13px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    letter-spacing: .25em;
    line-height: 1.8em;
    padding-bottom: 8px; }
  .social-open .mobile-social-menu {
    transform: translateX(0); }
  .social-right .mobile-social-menu {
    transform: translateX(120%); }
  .hidden-social .mobile-social-menu {
    display: none; }

.hamburger {
  display: none; }

.header {
  padding: 16.5px 24px; }

.header-title-logo {
  max-width: 340px;
  width: 100%; }

.header-tagline {
  color: gray;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: .34em;
  line-height: 0em;
  text-transform: uppercase;
  color: grey; }

.header-cart {
  font-size: 9px;
  letter-spacing: .3em;
  font-weight: 600;
  position: absolute;
  line-height: 1em;
  text-align: right;
  min-width: 0;
  max-width: 58px;
  width: 100%;
  max-height: 42px;
  height: 100%;
  right: 0;
  margin: -50px 50px; }

.cart {
  color: #868686;
  font-family: "Lato", sans-serif; }

.header-items {
  white-space: nowrap;
  line-height: 1em;
  margin: -9px 0;
  color: #868686;
  overflow: auto; }

.header-items:hover {
  color: rgba(82, 82, 82, 0.3); }

.header-nav-item {
  display: inline-block;
  padding: .618em;
  vertical-align: middle;
  font-family: "Lato", sans-serif;
  font-size: 8.8px;
  letter-spacing: .3em;
  font-weight: 600; }

.header-nav-item:hover {
  color: #868686; }

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer; }

a, .dropbtn {
  display: inline-block;
  text-decoration: none; }

.dropbtn:active {
  color: #868686; }

.dropdown {
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 107px;
  z-index: 1; }

.dropdown-content a {
  color: rgba(82, 82, 82, 0.3);
  padding: 0px 2px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: "Lato", sans-serif;
  font-size: 8.8px;
  letter-spacing: .3em;
  font-weight: 600; }

.dropdown-content a:hover {
  color: #868686; }

.dropdown:hover .dropdown-content {
  display: block; }

body {
  background-color: #ffffff;
  max-width: 1200px;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto; }

.main-wrapper {
  background-color: #ffffff;
  max-width: 1200px;
  height: auto; }

.footer-container {
  text-align: center;
  padding: 100px 34px 175px 34px;
  max-height: 490px;
  max-width: 1200px; }

.social-icons {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  color: black;
  padding: 45px 17px; }

.social-icons:hover {
  color: rgba(82, 82, 82, 0.3); }

.social-icon {
  font-size: 18px;
  padding: 4px 4px; }

.social-icon:hover {
  color: black; }

.footer-items {
  padding: 23px 0px;
  color: #868686; }

.footer-items:hover {
  color: rgba(82, 82, 82, 0.3); }

.footer-item {
  display: inline-block;
  vertical-align: middle;
  font-family: "Lato", sans-serif;
  font-size: 8.8px;
  letter-spacing: .3em;
  font-weight: 600;
  line-height: 2em;
  padding-right: .6em; }

.footer-item:hover {
  color: #868686; }

@media (max-width: 1025px) {
  .main-wrapper {
    padding: 0px 9px; } }

@media (max-width: 769px) {
  .header-items {
    white-space: nowrap;
    overflow: auto;
    line-height: 1em;
    margin: -9px 0;
    color: #868686; }
    .header-items a {
      padding: 2.8px 0px; }
  #tablet-view {
    display: block; }
  .header-cart {
    margin: -8px 20px; } }

@media (max-width: 769px) and (max-width: 426px) {
  .site-nav {
    padding: 1px 0;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    text-align: center;
    height: 30px;
    padding-bottom: 11px;
    padding-top: 7px;
    z-index: 3; }
    .hidden-nav .site-nav {
      display: none; }
  .hamburger {
    display: block;
    float: right;
    font-size: 38px;
    margin-right: 20px; }
  .header-title-logo {
    max-width: 225px;
    width: 100%;
    text-align: center;
    margin-left: 60px;
    margin-right: 20px; }
  .header {
    padding: 10px 0; }
  .header-items {
    display: none; }
  .header-tagline {
    display: none; }
  .header-cart {
    bottom: 0;
    background-color: white;
    max-width: 100%;
    text-align: center;
    margin: 0 0;
    height: 30px;
    position: fixed;
    padding-bottom: 0px;
    padding-top: 18px; } }

@media (max-width: 769px) and (max-width: 321px) {
  .header-title-logo {
    margin-left: 40px;
    margin-right: 3px; } }

.merchandise-body {
  max-width: 1200px;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto; }

.merchandise-gallery {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  padding: 25px 0 0 12px; }

.merchandise-container {
  width: 50%;
  float: left;
  position: relative; }

.merchandise-img {
  width: 96%;
  padding: 10px 0; }

.item-name-container {
  position: absolute;
  float: left;
  top: 0;
  width: 150px;
  height: 50px;
  z-index: 1;
  padding: 35px 35px; }

.item-name {
  color: gray;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  letter-spacing: .3em;
  font-weight: 600;
  text-transform: uppercase; }

@media (max-width: 426px) {
  .merchandise-gallery {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    padding: 55px 0 0 20px; }
  .merchandise-container {
    width: 94%;
    float: left;
    position: relative; } }

@media (max-width: 376px) {
  .merchandise-gallery {
    padding: 55px 0 0 17px; } }

@media (max-width: 376px) {
  .merchandise-gallery {
    padding: 55px 0 0 14px; } }

.our-dogs-body {
  max-width: 1200px;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto; }

.our-dogs-banner {
  background-image: url("/images/dog-banners-v2.jpg");
  background-repeat: no-repeat;
  background-position: 36.5% 60%;
  background-size: 256%;
  background-attachment: fixed;
  padding-top: 175px;
  padding-bottom: 175px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  content: '';
  text-align: center; }

.view-title {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: .2em;
  line-height: 1.4em;
  text-transform: uppercase;
  text-align: center;
  color: black;
  padding-bottom: 1px; }

.view-desc {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  letter-spacing: .06em;
  font-weight: 600;
  text-align: center;
  font-weight: 400;
  padding-bottom: 10px; }

.block-button-container {
  text-align: center;
  padding: 20px 20px; }

.block-button {
  border: solid;
  border-color: black;
  border-radius: 3px;
  border-width: 2px;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  letter-spacing: .2em;
  text-align: center;
  font-weight: 600;
  height: auto;
  width: auto;
  padding: 22px 38px; }

.block-button:hover {
  background-color: black;
  color: white; }

.our-dogs-gallery {
  padding: 25px 0px 0 12px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto; }

.dog-grid-container {
  position: relative;
  float: left; }

.dog-grid-container:nth-child(1) {
  max-width: 66.67%; }
  .dog-grid-container:nth-child(1) img {
    height: 97%;
    width: 97%;
    display: block;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(2) {
  max-width: 33.33%; }
  .dog-grid-container:nth-child(2) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(3) {
  max-width: 33.33%; }
  .dog-grid-container:nth-child(3) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(4) {
  max-width: 33.33%; }
  .dog-grid-container:nth-child(4) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(5) {
  max-width: 66.67%; }
  .dog-grid-container:nth-child(5) img {
    height: 97%;
    width: 97%;
    display: block;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(6) {
  max-width: 33.33%;
  margin-top: -33.7%; }
  .dog-grid-container:nth-child(6) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(7) {
  max-width: 66.67%; }
  .dog-grid-container:nth-child(7) img {
    height: 97%;
    width: 97%;
    display: block;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(8) {
  max-width: 33.33%; }
  .dog-grid-container:nth-child(8) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(9) {
  max-width: 33.33%; }
  .dog-grid-container:nth-child(9) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(10) {
  max-width: 33.33%; }
  .dog-grid-container:nth-child(10) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(11) {
  max-width: 66.67%; }
  .dog-grid-container:nth-child(11) img {
    height: 97%;
    width: 97%;
    display: block;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(12) {
  max-width: 33.33%;
  margin-top: -33.7%; }
  .dog-grid-container:nth-child(12) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(13) {
  max-width: 66.67%; }
  .dog-grid-container:nth-child(13) img {
    height: 97%;
    width: 97%;
    display: block;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(14) {
  max-width: 33.33%; }
  .dog-grid-container:nth-child(14) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(15) {
  max-width: 33.33%; }
  .dog-grid-container:nth-child(15) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(16) {
  max-width: 50%; }
  .dog-grid-container:nth-child(16) img {
    display: block;
    height: 95%;
    width: 96%;
    padding-bottom: 20px; }

.dog-grid-container:nth-child(17) {
  max-width: 50%; }
  .dog-grid-container:nth-child(17) img {
    display: block;
    height: 95%;
    width: 96%;
    padding-bottom: 20px; }

.dog-name-container {
  position: absolute;
  float: left;
  top: 0;
  width: 130px;
  height: 50px;
  z-index: 1;
  padding: 35px 35px; }

.dog-name {
  color: gray;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  letter-spacing: .3em;
  font-weight: 600;
  text-transform: uppercase; }

@media (max-width: 1025px) {
  .our-dogs-banner {
    background-position: 36.5% 60%;
    background-size: 272%;
    height: 582px; } }

@media (max-width: 769px) {
  .our-dogs-banner {
    background-position: 36.5% 60%;
    background-size: 350%;
    height: 472px;
    padding-bottom: 0px; }
  .dog-grid-container:nth-child(3) {
    max-width: 33.33%;
    margin-top: -9px; }
    .dog-grid-container:nth-child(3) img {
      display: block;
      height: 94%;
      width: 94%;
      padding-bottom: 20px; }
  .dog-grid-container:nth-child(6) {
    max-width: 33.33%;
    margin-top: -34.7%; }
    .dog-grid-container:nth-child(6) img {
      display: block;
      height: 94%;
      width: 94%;
      padding-bottom: 20px; }
  .dog-grid-container:nth-child(9) {
    max-width: 33.33%;
    margin-top: -9px; }
    .dog-grid-container:nth-child(9) img {
      display: block;
      height: 94%;
      width: 94%;
      padding-bottom: 20px; }
  .dog-grid-container:nth-child(12) {
    max-width: 33.33%;
    margin-top: -34.7%; }
    .dog-grid-container:nth-child(12) img {
      display: block;
      height: 94%;
      width: 94%;
      padding-bottom: 20px; }
  .dog-grid-container:nth-child(15) {
    max-width: 33.33%;
    margin-top: -9px; }
    .dog-grid-container:nth-child(15) img {
      display: block;
      height: 94%;
      width: 94%;
      padding-bottom: 20px; } }

@media (max-width: 426px) {
  .our-dogs-banner {
    background-position: 36.5% 60%;
    background-size: 555%;
    height: 404px;
    padding-bottom: 0px; }
  .dog-grid-container:nth-child(1) {
    max-width: 100%; }
    .dog-grid-container:nth-child(1) img {
      width: 94%;
      display: block;
      padding-bottom: 20px; }
  .dog-grid-container:nth-child(2) {
    max-width: 100%; }
    .dog-grid-container:nth-child(2) img {
      display: block;
      width: 94%;
      padding-bottom: 20px; }
  .dog-grid-container:nth-child(3) {
    max-width: 100%;
    margin-top: 0; }
    .dog-grid-container:nth-child(3) img {
      display: block;
      width: 94%;
      padding-bottom: 20px; }
  .dog-grid-container:nth-child(4) {
    max-width: 100%; }
    .dog-grid-container:nth-child(4) img {
      width: 94%;
      display: block;
      padding-bottom: 20px; }
  .dog-grid-container:nth-child(5) {
    max-width: 100%; }
    .dog-grid-container:nth-child(5) img {
      width: 94%;
      display: block;
      padding-bottom: 20px; }
  .dog-grid-container:nth-child(6) {
    max-width: 100%;
    margin-top: 0; }
    .dog-grid-container:nth-child(6) img {
      width: 94%;
      display: block;
      padding-bottom: 20px; }
  .dog-grid-container:nth-child(7) {
    max-width: 100%; }
    .dog-grid-container:nth-child(7) img {
      width: 94%;
      display: block;
      padding-bottom: 20px; }
  .dog-grid-container:nth-child(8) {
    max-width: 100%; }
    .dog-grid-container:nth-child(8) img {
      width: 94%;
      display: block;
      padding-bottom: 20px; }
  .dog-grid-container:nth-child(9) {
    max-width: 100%;
    margin-top: 0; }
    .dog-grid-container:nth-child(9) img {
      width: 94%;
      display: block;
      padding-bottom: 20px; }
  .dog-grid-container:nth-child(10) {
    max-width: 100%; }
    .dog-grid-container:nth-child(10) img {
      width: 94%;
      display: block;
      padding-bottom: 20px; }
  .dog-grid-container:nth-child(11) {
    max-width: 100%; }
    .dog-grid-container:nth-child(11) img {
      width: 94%;
      display: block;
      padding-bottom: 20px; }
  .dog-grid-container:nth-child(12) {
    max-width: 100%;
    margin-top: 0; }
    .dog-grid-container:nth-child(12) img {
      width: 94%;
      display: block;
      padding-bottom: 20px; }
  .dog-grid-container:nth-child(13) {
    max-width: 100%; }
    .dog-grid-container:nth-child(13) img {
      width: 94%;
      display: block;
      padding-bottom: 20px; }
  .dog-grid-container:nth-child(14) {
    max-width: 100%; }
    .dog-grid-container:nth-child(14) img {
      width: 94%;
      display: block;
      padding-bottom: 20px; }
  .dog-grid-container:nth-child(15) {
    max-width: 100%;
    margin-top: 0; }
    .dog-grid-container:nth-child(15) img {
      width: 94%;
      display: block;
      padding-bottom: 20px; }
  .dog-grid-container:nth-child(16) {
    max-width: 100%; }
    .dog-grid-container:nth-child(16) img {
      width: 94%;
      display: block;
      padding-bottom: 20px; }
  .dog-grid-container:nth-child(17) {
    max-width: 100%; }
    .dog-grid-container:nth-child(17) img {
      width: 94%;
      display: block;
      padding-bottom: 20px; } }

@media (max-width: 426px) {
  .our-dogs-banner {
    background-position: 36.5% 60%;
    background-size: 1200%;
    height: 474px;
    padding-bottom: 0px; } }

@media (max-width: 321px) {
  .our-dogs-banner {
    background-position: 36.5% 60%;
    background-size: 1200%;
    height: 507px;
    padding-bottom: 0px; } }

.our-kombucha-wrapper {
  max-width: 1200px;
  padding: 15px 65px;
  overflow: auto; }

.our-kombucha-image {
  width: 100%;
  height: 100%;
  background-image: url("/images/kombucha.jpeg");
  background-size: cover;
  background-position: center; }

.our-kombucha-header h1 {
  font-family: "Teko", sans-serif;
  color: black;
  font-weight: 500;
  font-size: 27px;
  letter-spacing: .1em; }

.our-kombucha-content h2 {
  font-family: "Lato", sans-serif;
  color: black;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: .14em;
  line-height: 2.5em; }

.our-kombucha-content p {
  font-family: "Lato", sans-serif;
  color: #7d7d7d;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: .1em;
  line-height: 2.4em;
  padding-bottom: 30px; }

#end-text {
  padding-bottom: 3px; }

#find-btn {
  text-align: left;
  padding-left: 0; }

.profile-body {
  max-width: 1200px;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto; }

.profile-container {
  padding: 25px 0px 0 0px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  overflow: auto; }

.profile-column {
  width: 45%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  padding: 3px 30px; }

.profile-name {
  overflow: auto; }
  .profile-name .name {
    font-family: "Teko", sans-serif;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: .1em;
    line-height: 1.4em;
    color: black;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 0px; }

.profile-status {
  overflow: auto; }
  .profile-status .status {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: .15em;
    line-height: 1.4em;
    color: black;
    margin-bottom: 20px; }

.profile-story {
  overflow: auto; }
  .profile-story .story {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .1em;
    line-height: 2.1em;
    color: rgba(82, 82, 82, 0.6);
    margin-bottom: 40px; }

.profile-btns-container {
  overflow: auto; }

.profile-btns {
  padding-right: 17px;
  float: left; }

.profile-btn {
  border: solid;
  border-color: black;
  border-radius: 4px;
  border-width: 2px;
  font-family: "Lato", sans-serif;
  font-size: 11px;
  letter-spacing: .25em;
  text-align: center;
  font-weight: 700;
  height: auto;
  width: auto;
  padding: 13px 22px; }

.profile-btn:hover {
  background-color: black;
  color: white; }

.profile-image-container {
  width: 45%;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden; }
  .profile-image-container img {
    width: 100%;
    height: 100%; }

@media (max-width: 769px) {
  .profile-body {
    padding: 20px 20px 20px 30px;
    position: relative; }
  .profile-image-container {
    width: 100%;
    position: absolute;
    top: 0;
    padding-left: 64px; }
    .profile-image-container img {
      width: 75%;
      height: 400px; }
  .profile-column {
    width: 90%;
    height: 100%;
    position: relative;
    display: block;
    vertical-align: middle;
    padding: 380px 40px 3px 40px; } }

.success-body {
  max-width: 1200px;
  max-height: 100%; }

.success-banner {
  background-image: url("/images/dog-banners-v2-2.jpg");
  background-repeat: no-repeat;
  background-position: 65.5% 80%;
  background-size: 260%;
  background-attachment: fixed;
  padding-top: 175px;
  padding-bottom: 175px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  content: '';
  margin: 0 auto; }

.success-gallery {
  padding: 25px 0px 0 12px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto; }

.success-grid-container {
  position: relative;
  float: left; }

.success-grid-container:nth-child(1) {
  max-width: 66.67%; }
  .success-grid-container:nth-child(1) img {
    height: 97%;
    width: 97%;
    display: block;
    padding-bottom: 20px; }

.success-grid-container:nth-child(2) {
  max-width: 33.33%; }
  .success-grid-container:nth-child(2) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.success-grid-container:nth-child(3) {
  max-width: 33.33%; }
  .success-grid-container:nth-child(3) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.success-grid-container:nth-child(4) {
  max-width: 33.33%; }
  .success-grid-container:nth-child(4) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.success-grid-container:nth-child(5) {
  max-width: 66.67%; }
  .success-grid-container:nth-child(5) img {
    height: 97%;
    width: 103.5%;
    display: block;
    padding-bottom: 20px; }

.success-grid-container:nth-child(6) {
  max-width: 33.33%;
  margin-top: -33.7%; }
  .success-grid-container:nth-child(6) img {
    display: block;
    height: 29.7vw;
    width: 94%;
    padding-bottom: 20px; }

.success-grid-container:nth-child(7) {
  max-width: 66.67%;
  clear: both; }
  .success-grid-container:nth-child(7) img {
    height: 97%;
    width: 103.5%;
    display: block;
    padding-bottom: 20px; }

.success-grid-container:nth-child(8) {
  max-width: 33.33%;
  margin-left: 50px; }
  .success-grid-container:nth-child(8) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.success-grid-container:nth-child(9) {
  max-width: 33.33%;
  margin-left: 50px; }
  .success-grid-container:nth-child(9) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.success-grid-container:nth-child(10) {
  max-width: 50%; }
  .success-grid-container:nth-child(10) img {
    display: block;
    height: 95%;
    width: 96%;
    padding-bottom: 19px; }

.success-grid-container:nth-child(11) {
  max-width: 50%; }
  .success-grid-container:nth-child(11) img {
    display: block;
    height: 95%;
    width: 96%;
    padding-bottom: 19px; }

.success-grid-container:nth-child(12) {
  max-width: 66.67%; }
  .success-grid-container:nth-child(12) img {
    height: 97%;
    width: 103.5%;
    display: block;
    padding-bottom: 20px; }

.success-grid-container:nth-child(13) {
  max-width: 33.33%;
  margin-left: 50px; }
  .success-grid-container:nth-child(13) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.success-grid-container:nth-child(14) {
  max-width: 33.33%;
  margin-left: 50px; }
  .success-grid-container:nth-child(14) img {
    display: block;
    height: 94%;
    width: 94%;
    padding-bottom: 20px; }

.success-grid-container:nth-child(15) {
  max-width: 50%; }
  .success-grid-container:nth-child(15) img {
    display: block;
    height: 96%;
    width: 96%;
    padding-bottom: 20px; }

.success-grid-container:nth-child(16) {
  max-width: 50%; }
  .success-grid-container:nth-child(16) img {
    display: block;
    height: 95%;
    width: 96%;
    padding-bottom: 20px; }

@media (max-width: 1025px) {
  .success-banner {
    background-position: 65.5% 80%;
    background-size: 313%;
    padding-bottom: 0px;
    height: 582px; }
  .success-grid-container:nth-child(5) {
    max-width: 66.67%; }
    .success-grid-container:nth-child(5) img {
      width: 97%;
      display: block;
      padding-bottom: 20px; }
  .success-grid-container:nth-child(6) {
    max-width: 33.33%;
    margin-top: -33.7%; }
    .success-grid-container:nth-child(6) img {
      display: block;
      height: 30.7vw;
      width: 94%;
      padding-bottom: 20px; }
  .success-grid-container:nth-child(7) {
    max-width: 66.67%;
    clear: both; }
    .success-grid-container:nth-child(7) img {
      width: 97%;
      display: block;
      padding-bottom: 20px; }
  .success-grid-container:nth-child(8) {
    max-width: 33.33%;
    margin-left: 671px;
    margin-top: -674px;
    float: left; }
    .success-grid-container:nth-child(8) img {
      display: block;
      height: 94%;
      width: 94%;
      padding-bottom: 20px; }
  .success-grid-container:nth-child(9) {
    max-width: 33.33%;
    margin-left: 671px;
    margin-top: -339px; }
    .success-grid-container:nth-child(9) img {
      display: block;
      height: 94%;
      width: 94%;
      padding-bottom: 20px; }
  .success-grid-container:nth-child(12) {
    max-width: 66.67%;
    clear: both; }
    .success-grid-container:nth-child(12) img {
      width: 97%;
      display: block;
      padding-bottom: 20px; }
  .success-grid-container:nth-child(13) {
    max-width: 33.33%;
    margin-left: 671px;
    margin-top: -674px;
    float: left; }
    .success-grid-container:nth-child(13) img {
      display: block;
      height: 94%;
      width: 94%;
      padding-bottom: 20px; }
  .success-grid-container:nth-child(14) {
    max-width: 33.33%;
    margin-left: 671px;
    margin-top: -339px; }
    .success-grid-container:nth-child(14) img {
      display: block;
      height: 94%;
      width: 94%;
      padding-bottom: 20px; } }

@media (max-width: 769px) {
  .success-banner {
    background-position: 65.5% 80%;
    background-size: 348%;
    padding-bottom: 0px;
    height: 472px; }
  .success-grid-container:nth-child(3) {
    max-width: 33.33%;
    margin-top: -9px; }
    .success-grid-container:nth-child(3) img {
      display: block;
      height: 94%;
      width: 94%;
      padding-bottom: 20px; }
  .success-grid-container:nth-child(6) {
    max-width: 33.33%;
    margin-top: -34.7%; }
    .success-grid-container:nth-child(6) img {
      display: block;
      height: 30.7vw;
      width: 94%;
      padding-bottom: 20px; }
  .success-grid-container:nth-child(8) {
    max-width: 33.33%;
    margin-left: 500px;
    margin-top: -509px; }
    .success-grid-container:nth-child(8) img {
      display: block;
      width: 94%;
      padding-bottom: 20px; }
  .success-grid-container:nth-child(9) {
    max-width: 33.33%;
    margin-left: 500px;
    margin-top: -259px; }
    .success-grid-container:nth-child(9) img {
      display: block;
      width: 94%;
      padding-bottom: 20px; }
  .success-grid-container:nth-child(13) {
    max-width: 33.33%;
    margin-left: 500px;
    margin-top: -509px; }
    .success-grid-container:nth-child(13) img {
      display: block;
      width: 94%;
      padding-bottom: 20px; }
  .success-grid-container:nth-child(14) {
    max-width: 33.33%;
    margin-left: 500px;
    margin-top: -259px; }
    .success-grid-container:nth-child(14) img {
      display: block;
      width: 94%;
      padding-bottom: 20px; } }

@media (max-width: 426px) {
  .success-banner {
    background-position: 65.5% 80%;
    background-size: 1500%;
    padding-bottom: 0px;
    height: 439px; }
  .success-grid-container:nth-child(1) {
    max-width: 100%;
    margin-left: 0px;
    margin-top: 0px; }
    .success-grid-container:nth-child(1) img {
      display: block;
      width: 94%;
      padding-bottom: 20px; }
  .success-grid-container:nth-child(2) {
    max-width: 100%;
    margin-left: 0px;
    margin-top: 0px; }
    .success-grid-container:nth-child(2) img {
      display: block;
      width: 94%;
      padding-bottom: 20px; }
  .success-grid-container:nth-child(3) {
    max-width: 100%;
    margin-left: 0px;
    margin-top: 0px; }
    .success-grid-container:nth-child(3) img {
      display: block;
      width: 94%;
      padding-bottom: 20px; }
  .success-grid-container:nth-child(4) {
    max-width: 100%;
    margin-left: 0px;
    margin-top: 0px; }
    .success-grid-container:nth-child(4) img {
      display: block;
      width: 94%;
      padding-bottom: 20px; }
  .success-grid-container:nth-child(5) {
    max-width: 100%;
    margin-left: 0px;
    margin-top: 0px; }
    .success-grid-container:nth-child(5) img {
      display: block;
      width: 94%;
      padding-bottom: 20px; }
  .success-grid-container:nth-child(6) {
    max-width: 100%;
    margin-left: 0px;
    margin-top: 0px; }
    .success-grid-container:nth-child(6) img {
      display: block;
      height: 85.7vw;
      width: 94%;
      padding-bottom: 20px; }
  .success-grid-container:nth-child(7) {
    max-width: 100%;
    margin-left: 0px;
    margin-top: 0px; }
    .success-grid-container:nth-child(7) img {
      display: block;
      width: 94%;
      padding-bottom: 20px; }
  .success-grid-container:nth-child(8) {
    max-width: 100%;
    margin-left: 0px;
    margin-top: 0px; }
    .success-grid-container:nth-child(8) img {
      display: block;
      width: 94%;
      padding-bottom: 20px; }
  .success-grid-container:nth-child(9) {
    max-width: 100%;
    margin-left: 0px;
    margin-top: 0px; }
    .success-grid-container:nth-child(9) img {
      display: block;
      width: 94%;
      padding-bottom: 20px; }
  .success-grid-container:nth-child(10) {
    max-width: 100%;
    margin-left: 0px;
    margin-top: 0px; }
    .success-grid-container:nth-child(10) img {
      display: block;
      width: 94%;
      padding-bottom: 20px; }
  .success-grid-container:nth-child(11) {
    max-width: 100%;
    margin-left: 0px;
    margin-top: 0px; }
    .success-grid-container:nth-child(11) img {
      display: block;
      width: 94%;
      padding-bottom: 20px; }
  .success-grid-container:nth-child(12) {
    max-width: 100%;
    margin-left: 0px;
    margin-top: 0px; }
    .success-grid-container:nth-child(12) img {
      display: block;
      width: 94%;
      padding-bottom: 20px; }
  .success-grid-container:nth-child(13) {
    max-width: 100%;
    margin-left: 0px;
    margin-top: 0px; }
    .success-grid-container:nth-child(13) img {
      display: block;
      width: 94%;
      padding-bottom: 20px; }
  .success-grid-container:nth-child(14) {
    max-width: 100%;
    margin-left: 0px;
    margin-top: 0px; }
    .success-grid-container:nth-child(14) img {
      display: block;
      width: 94%;
      padding-bottom: 20px; }
  .success-grid-container:nth-child(15) {
    max-width: 100%;
    margin-left: 0px;
    margin-top: 0px; }
    .success-grid-container:nth-child(15) img {
      display: block;
      width: 94%;
      padding-bottom: 20px; }
  .success-grid-container:nth-child(16) {
    max-width: 100%;
    margin-left: 0px;
    margin-top: 0px; }
    .success-grid-container:nth-child(16) img {
      display: block;
      width: 94%;
      padding-bottom: 20px; } }

@media (max-width: 376px) {
  .success-gallery {
    padding: 25px 0px 0 10.5px; } }

@media (max-width: 321px) {
  .success-gallery {
    padding: 25px 0px 0 9px; }
  .success-banner {
    background-position: 65.5% 80%;
    background-size: 1500%;
    padding-bottom: 0px;
    height: 507px; } }
