$cart: rgb(134, 134, 134);
$lato: 'Lato', sans-serif;
$tagline: rgb(128, 128, 128);
$teko: 'Teko', sans-serif;
$story: rgba(82,82,82,.6);
$select: rgb(246, 246, 246);
$shopping: rgb(125, 125, 125);
$quantity: rgb(204, 204, 204);

.cart-wrapper {
  max-width: 1200px;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  padding: 20px 65px;
}

.shopping-header {
  h1 {
    font-family: $teko;
    font-weight: 500;
    font-size: 27px;
    letter-spacing: .1em;
    line-height: 1em;
    color: black;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
}

.cart-headers {
  p {
    font-family: $lato;
    font-weight: 900;
    font-size: 10px;
    letter-spacing: .12em;
    color: $shopping;
  }
  .header-quantity {
    margin-left: 732px;
  }
  .header-price {
    margin-left: 125px;
  }
}

.top-line {
  margin-top: 17px;
  margin-bottom: 0px;
  font-weight: 400;
}

.cart-row {
  width: 100%;
  overflow: auto;
  height: 137px;
  // margin-top: 6px;
}

.cart-img-wrapper {
  // width: 20%;
  // height: 20%;
  // padding-top: 8px;
  // padding-bottom: 15px;
  img {
    width: 10%;
    height: 80%;
    float: left;
    padding-top: 13px;
    padding-bottom: 13px;
  }
}

.cart-item-text {
  font-family: $lato;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: .12em;
  color: $tagline;
  float: left;
  margin-top: 50px;
  margin-left: 20px;
  overflow: auto;
  height: 70px;
  width: 260px;
  p{
    margin: 2px 2px;
  }
}

.cart-quantity {
  float: left;
  overflow: auto;
  input {
    border-style: solid;
    border-width: 1px;
    border-color: $quantity;
    border-radius: 4px;
    height: 27px;
    width: 28px;
    color: $tagline;
    margin: 50px 110px 35px 380px;
    font-size: 15px;
    text-align: right;
    padding-right: 7px;
  }
  input:focus {
    outline: none;
  }
}

.cart-item-price {
  float: left;
  margin: 44px 50px 0px 0px;
  overflow: auto;
  p {
    font-family: $lato;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: .1em;
    color: $tagline;
  }
}

.cart-remove-btn {
  float: left;
  margin: 56px 0px 0px 20px;
  font-family: $lato;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: .15em;
  color: $quantity;
  cursor: pointer;
}

hr {
  clear: both;
}

.subtotal {
  float: right;
  font-family: $lato;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: .12em;
  color: $tagline;
  margin: 12px 0;
}

.subtotal-span {
  padding-left: 20px;
  padding-right: 20px;
}


.checkout-btn-wrapper {
  float: right;
  margin-top: 12px;
  overflow: auto;
}

.checkout-button {
  border: solid;
  border-color: black;
  border-radius: 3px;
  border-width: 2px;
  font-family: $lato;
  font-size: 11px;
  letter-spacing: .2em;
  text-align: center;
  font-weight: 400;
  height: auto;
  width: auto;
  padding: 12px 32px;
}

.checkout-button:hover {
  background-color: black;
  color: white;
}

@media (max-width: 1025px){
  .cart-headers {
    .header-quantity {
      margin-left: 575px;
    }
    .header-price {
      margin-left: 100px;
    }
  }
  .cart-row {
    height: 130px;
  }
  .cart-img-wrapper {
    img {
      width: 11.5%;
      height: 80%;
      float: left;
      padding-top: 13px;
      padding-bottom: 13px;
    }
  }
  .cart-quantity {
    input {
      margin: 50px 80px 35px 225px;
    }
  }
  .cart-item-price {
    margin: 44px 50px 0px 0px;
  }
  .repeat-line {
    margin-top: 0;
    margin-bottom: 0;
  }

}

@media (max-width: 769px){
  .cart-wrapper {
    padding: 20px 35px;
  }
  .cart-headers {
    .header-quantity {
      margin-left: 445px;
    }
    .header-price {
      margin-left: 75px;
    }
  }
  .cart-row {
    height: 144px;
  }
  .cart-img-wrapper {
    img {
      width: 17%;
      height: 80%;
      float: left;
      padding-top: 13px;
      padding-bottom: 13px;
    }
  }
  .cart-item-text {
    font-size: 13px;
    letter-spacing: .06em;
    margin-top: 50px;
    margin-left: 20px;
    overflow: auto;
    height: 70px;
    width: 260px;
    p{
      margin: 2px 2px;
    }
  }
  .cart-quantity {
    input {
      margin: 50px 50px 35px 80px;
    }
  }
  .cart-item-price {
    margin: 44px 10px 0px 0px;
  }
  .cart-remove-btn {
    margin: 56px 0px 0px 20px;
  }

}

@media (max-width: 426px){
  .shopping-header {
    h1 {
      margin-top: 45px;
    }
  }
  .cart-wrapper {
    padding: 20px 20px;
  }
  .cart-headers {
    .header-quantity {
      margin-left: 185px;
    }
    .header-price {
      margin-left: 30px;
    }
  }
  .cart-row {
    height: 98px;
  }
  .cart-img-wrapper {
    img {
      width: 17%;
      padding-top: 13px;
      padding-bottom: 13px;
    }
  }
  .cart-item-text {
    font-size: 11px;
    letter-spacing: .02em;
    margin-top: 23px;
    margin-left: 13px;
    height: 70px;
    width: 135px;
    p{
      margin: 2px 2px;
    }
  }
  .cart-quantity {
    input {
      width: 17px;
      margin: 31px 20px 31px 10px;
    }
  }
  .cart-item-price {
    margin: 23px 10px 0px 0px;
  }
  .cart-remove-btn {
    margin: 37px 0px 0px 10px;
  }

}

@media (max-width: 376px){
  .cart-headers {
    .header-quantity {
      margin-left: 145px;
    }
    .header-price {
      margin-left: 30px;
    }
  }
  .cart-row {
    height: 81px;
  }
  .cart-img-wrapper {
    img {
      padding-top: 13px;
      padding-bottom: 13px;
    }
  }
  .cart-item-text {
    margin-top: 19px;
    margin-left: 13px;
    height: 45px;
    width: 105px;
    p{
      margin: 2px 2px;
    }
  }
  .cart-quantity {
    input {
      width: 17px;
      margin: 24px 20px 24px 10px;
    }
  }
  .cart-item-price {
    margin: 17px 10px 0px 0px;
  }
  .cart-remove-btn {
    margin: 31px 0px 0px 10px;
  }
}

@media (max-width: 321px){
  .cart-headers {
    .header-quantity {
      margin-left: 185px;
    }
    .header-price {
      margin-left: 30px;
    }
  }
  .cart-row {
    height: 91px;
  }
  .cart-img-wrapper {
    img {
      padding-top: 20px;
      padding-bottom: 15px;
    }
  }
  .cart-item-text {
    margin-top: 9px;
    margin-left: 13px;
    margin-bottom: 9px;
    height: 71px;
    width: 76px;
    p{
      margin: 2px 2px;
    }
  }
  .cart-quantity {
    input {
      width: 17px;
      margin: 28px 12px 24px 0px;
    }
  }
  .cart-item-price {
    margin: 21px 10px 0px 0px;
  }
  .cart-remove-btn {
    margin: 35px 0px 0px 5px;
  }
}
