$navbar-hover: rgba(82,82,82,.3);
$tagline: rgb(128, 128, 128);
$cart: rgb(134, 134, 134);
$open: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;

.site-nav {
  padding: 45px 40px;
  text-align: center;
}

.header-title {

}

.header {
  padding: 16.5px 24px;
}

.header-title-logo {
  max-width: 340px;
  width: 100%
}

.header-tagline {
  color: $tagline;
  text-decoration: none;
  font-family: $open;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: .34em;
  line-height: 0em;
  text-transform: uppercase;
  color: grey;
}

.header-cart {
  font-size: 8.8px;
  letter-spacing: .3em;
  font-weight: 600;
  position: relative;
  line-height: 1em;
  float: right;
  text-align: right;
  min-width: 0;
  max-width: 58px;
  width: 100%;
  max-height: 42px;
  height: 100%;
  margin: -50px 0;
}

.cart {
  color: $cart;
  font-family: $lato;
}

.header-items {
  white-space: nowrap;
  line-height: 1em;
  margin: -9px 0;
  color: $cart;
}

.header-items:hover {
  color: $navbar-hover;
}

.header-nav-item {
  // color: $cart;
  display: inline-block;
  padding: .618em;
  vertical-align: middle;
  font-family: $lato;
  font-size: 8.8px;
  letter-spacing: .3em;
  font-weight: 600;
}

.header-nav-item:hover {
  color: $cart;
}


a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}

a, .dropbtn {
  display: inline-block;
  text-decoration: none;
}

.dropbtn:active {
  color: $cart;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
    position: absolute;
    // background-color: #f9f9f9;
    min-width: 107px;
    // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: $navbar-hover;
    padding: 0px 2px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: $lato;
    font-size: 8.8px;
    letter-spacing: .3em;
    font-weight: 600;
}

.dropdown-content a:hover {
  color: $cart;
}

.dropdown:hover .dropdown-content {
    display: block;
}


body {

}

.footer-container {
  text-align: center;
  padding: 100px 64px 175px 64px;
}

.social-icons {
  box-sizing: border-box;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 45px 17px;
  position: relative;
  height: auto;
  outline: none;
  box-shadow: inset 0 0 0 1px rgba(128,128,128,0);
  transition: box-shadow .2s ease-in-out;
}

.social-icon {
  font-size: 18px;
  padding: 4px 4px;
  color: black;
}

.footer-items {
  padding: 23px 0px;
}

.footer-item {
  color: $cart;
  display: inline-block;
  vertical-align: middle;
  font-family: $lato;
  font-size: 8.8px;
  letter-spacing: .3em;
  font-weight: 600;
  line-height: 2em;
  padding-right: .6em;
}
