$cart: rgb(134, 134, 134);
$lato: 'Lato', sans-serif;
$tagline: rgb(125, 125, 125);
$teko: 'Teko', sans-serif;
$story: rgba(82,82,82,.6);

.our-kombucha-wrapper {
  max-width: 1200px;
  padding: 15px 65px;
  overflow: auto;
  // height: auto;
}

.our-kombucha-image {
  width: 100%;
  height: 100%;
  background-image: url('/images/kombucha.jpeg');
  background-size: cover;
  background-position: center;
}

.our-kombucha-header {
  h1 {
    font-family: $teko;
    color: black;
    font-weight: 500;
    font-size: 27px;
    letter-spacing: .1em;
  }
}

.our-kombucha-content {
  h2 {
    font-family: $lato;
    color: black;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: .14em;
    line-height: 2.5em;
  }
  p {
    font-family: $lato;
    color: $tagline;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .1em;
    line-height: 2.4em;
    padding-bottom: 30px;
  }
}

#end-text {
  padding-bottom: 3px;
}

#find-btn {
  text-align: left;
  padding-left: 0;
}

@media (max-width: 769px){
  .our-kombucha-wrapper {
    padding: 15px 40px;
  }
  #our-content-wrapper {
    padding: 90px 173px 0px 173px;
  }
}
@media (max-width: 426px){
  .our-kombucha-wrapper {
    padding: 75px 20px 0px 20px;
  }
  #our-content-wrapper {
    padding: 90px 0px 0px 0px;
  }
}
@media (max-width: 376px){

}
@media (max-width: 321px){

}
