$cart: rgb(134, 134, 134);
$lato: 'Lato', sans-serif;
$tagline: rgb(128, 128, 128);
$teko: 'Teko', sans-serif;
$story: rgba(82,82,82,.6);


.profile-body {
  max-width: 1200px;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.profile-container {
  padding: 25px 0px 0 0px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  float: right;
}

.profile-column {
  width: 41%;
  height: 100%;
  float:right;
  vertical-align: middle;
  padding: 0px 108px 10px 0px;
}

.profile-name {
  overflow: auto;
  .name {
    font-family: $teko;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: .1em;
    line-height: 1.4em;
    color: black;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}


.profile-status {
  overflow: auto;
  .status {
    font-family: $lato;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: .15em;
    line-height: 1.4em;
    color: black;
    margin-bottom: 20px;
  }
}

.profile-story {
  overflow: auto;
  .story {
    font-family: $lato;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .1em;
    line-height: 2.1em;
    color: $story;
    margin-bottom: 40px;
  }
}

.profile-btns-container {
  overflow: auto;
}

.profile-btns {
  padding-right: 17px;
  float:left;
}

.profile-btn {
  border: solid;
  border-color: black;
  border-radius: 4px;
  border-width: 2px;
  font-family: $lato;
  font-size: 11px;
  letter-spacing: .25em;
  text-align: center;
  font-weight: 700;
  height: auto;
  width: auto;
  padding: 13px 22px;
  transition: background .2s ease;
}

.profile-btn:hover {
  background-color: black;
  color: white;
}

.profile-image-container {
  width: 50%;
  height: 100%;
  vertical-align: middle;
  float: right;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1025px){
  .profile-column {
    width: 41%;
    height: 100%;
    float:right;
    vertical-align: middle;
    padding: 0px 50px 10px 0px;
  }
}
.profile-image-container {
  width: 50%;
  height: 100%;
  vertical-align: middle;
  float: right;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
  }
}


@media (max-width: 769px){
  .profile-body {
    padding: 20px 20px 20px 30px;
  }
  .profile-image-container {
    width: 100%;
    text-align: center;
    img{
      width: 75%;
      height: 400px;
    }
  }
  .profile-column {
    width: 75%;
    height: 100%;
    display: block;
    vertical-align: middle;
    padding: 40px 88px 0px 0px;
  }
}
@media (max-width: 426px){
  .profile-body {
    padding: 50px 20px 20px 20px;
  }
  .profile-image-container {
    width: 100%;
    text-align: center;
    img{
      width: 100%;
      height: 390px;
    }
  }
  .profile-column {
    width: 100%;
    height: 100%;
    padding: 40px 0px 0px 0px;
  }
}

@media (max-width: 376px){
  .profile-image-container {
    width: 100%;
    text-align: center;
    img{
      width: 100%;
      height: 340px;
    }
  }
}
@media (max-width: 321px){
  .profile-image-container {
    width: 100%;
    text-align: center;
    img{
      width: 100%;
      height: 280px;
    }
  }
}
